{% extends "Login/main.html" %}
{% load static %}
{% block title %}Upload Files{%endblock%}
{% block content %}
</br>
</br>
{% comment %} <div class="User">
  <div class="UserInfo">

    ຍິນດີຕ້ອນຮັບ, 
    </br><span>ພາກສ່ວນ:</span>{% if check_UserGroup == 1 or check_UserGroup == 2 or check_UserGroup == 3 or check_UserGroup == 4 or check_UserGroup == 5 %}
    ຂສລ, ບໍລິສັດ ຂໍ້ມູນຂ່າວສານສິນເຊື່ອແຫ່ງ ສ.ປ.ລາວ
  </div>
</div> {% endcomment %}

{% for u in uname %} {{u.nameL}} {% endfor%}
{{check_UserGroup}}

</br>
<div style="display:flex; font-size:12px" class="col m-1">
<div class="accordion accordion-flush col-2" id="accordionFlushExample">
    <div class="accordion-item">
      <div class="accordion-header">
        <button class="accordion-button collapsed" style="font-size:14px; font-weight:bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          ຂໍ້ມູນລູກຄ້າ (ຜູ້ກູ້ຢືມເງິນ)
        </button>
      </div>
      <div id="flush-collapseOne" class="accordion-collapse collapse"  data-bs-parent="#accordionFlushExample">
        <div class="accordion-body border border-light_silver"><a class="text-primary" href="{% url 'lcicHome:showUploadfile' %}?Stype=1">ສຳລັບຜູ້ກູ້ຢືມທີ່ເປັນບຸກຄົນ ແລະ ຜູ້ກູ້ຢືມເປັນລາຍກຸ່ມ</a>  </div>
        <div class="accordion-body border border-light_silver"><a href="{% url 'lcicHome:showUploadfile' %}?Stype=2" class="text-primary">ສຳລັບຜູ້ກູ້ຢືມທີ່ເປັນລັດວິສາຫະກິດ</a></div>
        <div class="accordion-body border border-light_silver"> <a href="{% url 'lcicHome:showUploadfile' %}?Stype=3" class="text-primary">ສຳລັບຜູ້ທີ່ມີລາຍເຊັນຮ່ວມກັນ</a> </div>
      </div>
      {% comment %} <div class="accordion-body border border-light_silver"> <a href="{% url 'lcicHome:show_uploadFile' %}?Stype=4" class="text-primary">ລາຍລະອຽດກ່ຽວກັບທີ່ຢູ່ອາໃສ</a> </div>
      </div>
      <div class="accordion-body border border-light_silver"> <a href="{% url 'lcicHome:show_uploadFile' %}?Stype=5" class="text-primary">ລາຍລະອຽດກ່ຽວກັບຂໍ້ມູນຕິດຕໍ່</a> </div>
      </div> {% endcomment %}
    </div>
    <div class="accordion-item">
      <div class="accordion-header">
        <button class="accordion-button collapsed" style="font-size:14px; font-weight:bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          ຂໍ້ມູນກ່ຽວກັບເງິນກູ້
        </button>
      </div>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body border border-light_silver"><a href="{% url 'lcicHome:showUploadfile' %}?Stype=6" class="text-primary">ລາຍລະອຽດຂອງເງິນກູ້ຢືມ</a></div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-header">
        <button class="accordion-button collapsed" style="font-size:14px; font-weight:bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          ຂໍ້ມູນກ່ຽວກັບຫຼັກຊັບຄໍ້າປະກັນ
        </button>
      </div>
      <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body border border-light_silver"><a href="#" class="text-primary">ການສະຫຼຸບຂໍ້ມູນຂອງຫຼັກຊັບຄໍ້າປະກັນ</a> </div>
      </div>
    </div>
  </div>

<div class="col-md-9 ms-3">
                <div class="row ">
                    <div class="col-md-12">
                        <div class="card border-0">
                            <div class="d-inline-flex">
                                <span class="">
                                    <a id="adduser" href="{% url 'lcicHome:showUploadfile' %}" class="me-4 mb-4"><i class="fa-solid fa-arrows-rotate"></i> ປັບຂໍ້ມູນຫຼ້າສຸດ</a>
                                    <a id="adduser" href="{% url 'lcicHome:uploadFile' %}" class="me-4 ms-4 mb-4"><i class="fa-solid fa-file-circle-plus"></i> ການນຳສົ່ງຂໍ້ມູນໃໝ່</a>
                                </span>
                            </div>
                            
                            <div class="container-fluid">
                                <div class="row">
                                    
                                    <div class="col-12">
                                        {% if showFiles %}
                                        <div class="card bg-light ms-4 me-4 mb-4">
                                            <div class="card-header">
                                                <i class="fa-solid fa-list fa-lg"></i> ການນຳສົ່ງຂໍ້ມູນທັງໝົດ
                                            </div>
                                            <div class="card-body">
                                              <p class="card-text">
                                                  <div class="table-responsive" >
                                                    <table class="table table-hover" style="font-size:10px">
                                                        <thead>
                                                          <tr>
                                                            <th scope="col" >ລະຫັດ</th>
                                                            <th scope="col">ສະມາຊິກ</th>            
                                                            <th scope="col">ຂໍ້ມູນປະຈຳເດືອນ</th>
                                                            <th scope="col">ຊື່ຟາຍເອກກະສານ</th>
                                                            <th scope="col">ຂະໜາດຂອງຂໍ້ມູນ</th>
                                                            <th scope="col">ປະເພດໄຟຣ໌</th>
                                                            <th scope="col">ປະເພດຂໍ້ມູນ</th>
                                                            <th scope="col">ປະເພດນຳສົ່ງ</th>
                                                            <th scope="col">ວັນທີ ແລະ ເວລານຳສົ່ງຂໍ້ມູນ</th>
                                                            <th scope="col">ສະຖານະອັບໂຫຼດ</th>
                                                          </tr>
                                                        </thead>
                                                        <tbody>
                                                          {% for showFile in showFiles %}
                                                          <tr style="height:10px">
                                                            <td>{{showFile.FID}}</td>
                                                            <td>{{showFile.MID.code}}</td>           
                                                            <td>{{showFile.period}}</td>
                                                            <td><a href="media/fileUploads/{{showFile.fileUpload}}" id="filename">{{showFile.fileUpload}}</a></td>
                                                            <td>{{showFile.fileSize}}</td>
                                                            <td>{{showFile.FileType}}</td>
                                                            <td>{{showFile.SType.SType}}</td>
                                                            <td>{{showFile.UType.nameL}}</td>
                                                            <td>{{showFile.insertDate}}</td>
                                                            <td>{{showFile.status}}</td>
                                                          </tr>
                                                          {% endfor %}
                                                        </tbody>
                                                      </table>
                                                  </div>
                                              </p>
                                            </div>
                                        </div>
                                        {% else %}
                                        <h5 class="alert alert-primary ms-4 me-4">ບໍ່ມີຂໍ້ມູນການນຳສົ່ງ</h5>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
            </div>
            
        </div>
    </div> <!-- end History -->
</div>


</div>
            
{%endblock%}