{% extends "layouts/base.html" %}
{% load static %}
{% block title %}News Detail{%endblock%}

{% block content %}

<div  id="important" class="important">  
    <div class="container" style="margin-bottom:-100px">
        <center><figure><img src="{% static 'images/contact.jpeg' %}"></figure></center> 
    </div>
    <div id="important" class="important">
          <div class="container">
          <div class="row">
            <div class="col-md-12"><!--
              <div class="titlepage">
                <h3><strong class="yellow">ຕຶກຕະຫຼາດຫຼັກຊັບລາວຊັ້ນ2</strong></h3>
                         <span class="text-align:left!important">
                        <h4><strong class="blue">ຖະໜົນ T4, ບ້ານໂພນທັນ, ເມືອງໄຊເສດຖາ<br>ນະຄອນຫຼວງວຽງຈັນ  </strong></h4><br>
                        <h6><strong class="blue">ໂທລະສັບ(865)-21-419436,(021)419432</strong></h6>
                        <h6><strong class="blue">Email: info@lcic.com.la	 </strong></h6>
                </span>             
              </div>
            </div>-->
            <div class="col-md-12 offset-2">
            <h2>&nbsp;</h2>             
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                <div class="row">                    
                     <div class="col-md-12">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1284.9687339606226!2d102.64074844229727!3d17.96241411927928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTfCsDU3JzQ2LjMiTiAxMDLCsDM4JzI2LjgiRQ!5e0!3m2!1sen!2sla!4v1629081645455!5m2!1sen!2sla"
                        width="960" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                     </div>               
                </div>
            </div> <!-- end footer-->
           
        </div>
          </div>
         
        </div> <!-- end History -->
    <div class="container">
        <div class="row">           
       
        </div>
    </div>
</div> 
{%endblock%}