{% extends 'layouts/base.html' %}
{% block title %}News Detail{%endblock%}
{% load static %}
{% block content %}
    <div id="important" class="important">
        <div class="container">
        
            <div class="row">
                 {% for n in H_newsInfo_v %}
                <div class="col-md-12 col-sm-12">
                    
                    <div class="titlepage">                        
                          {% if Lang == "la" %}
                        <h3><strong class="blue"> {{ n.nameL }} </strong></h3>
                            <div class="container" style="margin-bottom:-100px">
                                <!-- center><figure><img src="{% static 'images/CEO.jpg '%}"></figure></center -->                             
                                <center><figure><img src="{{ n.nimage.url }}" alt=""></figure></center><br>
                                <p><span class="text-align:left!important">{{ n.descL }}</span><br>  </p>   
                                  <hr>        
                            </div>

                        {% endif %}     
                        
                        {% if Lang == "en" %}
                        <h3><strong class="blue"> {{ n.nameE }} </strong></h3>
                            <div class="container" style="margin-bottom:-100px">
                                <!-- center><figure><img src="{% static 'images/CEO.jpg '%}"></figure></center -->                             
                                <center><figure><img src="{{ n.nimage.url }}" alt=""></figure></center><br>
                                <p><span class="text-align:left!important">{{ n.descE }}</span><br>  </p>   
                                  <hr>        
                            </div>

                        {% endif %}
                    </div>
                    <div class="titlepage">
                        <h6><strong class="yellow"><a href="{{ n.nFiles.url }}"><span class="text-align:right">{% if Lang == "la" %}
                            {% for rmore in H_rmore %}
                             {{rmore.Trans_LA}}.....
                            {% endfor %}
                           {% elif Lang == "en" %}
                           {% for rmore in H_rmore %}
                           {{rmore.Trans_EN}}.....
                            {% endfor %}
                       {% endif %}</span></a>  </strong></h6>
                         
                    </div>                     
                </div>
             {%endfor%} 
            </div>
        </div> <!-- end History -->
    </div>
{%endblock%}