{% extends "layouts/base.html" %}
{% load static %}
{% block title %}ORG Chart{%endblock%}

{% block content %}
<div id="important" class="important">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="titlepage">
            <h3>{% if Lang == "la" %}
              {% for or in H_organize %}
                {{or.Trans_LA}}
              {% endfor %}
              {% elif Lang == "en" %}
              {% for or in H_organize %}
                {{or.Trans_EN}} of
              {% endfor %}
              {% endif %}<strong class="yellow"> 
                {% if Lang == "la" %}
                {% for c in H_com %}
                 {{c.Trans_LA}}
                {% endfor %}
               {% elif Lang == "en" %}
                {% for c in H_com %}
                 {{ c.Trans_EN}}
                {% endfor %}
           {% endif %} </strong></h3>
                <div class="container" style="margin-bottom:-100px">
                    <center><figure><img src="{% static 'images/orgChart1.jpeg' %}"></figure></center> 
                </div>
          </div>
        </div>
      </div>
    </div> <!-- end History -->

{%endblock%}