{% extends "layouts/base.html" %}
{% block title %}Products{%endblock%}

{% block content %}
<div id="important" class="important">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="titlepage">
            <h2><strong class="yellow">ຜະລິດຕະພັນ ຂໍ້ມູນຂ່າວສານສິນເຊື່ອ</strong></h2>
            <span class="text-align:left!important">
                    <h3><strong class="blue">ບົດລາຍງານສິນເຊື່ອຄົບຖ້ວນບຸກຄົນ | ໃຫ້ບໍລິການຢູ່ </strong></h3><br>
                    <h3><strong class="blue">ບົດລາຍງານສິນເຊື່ອຄົບຖ້ວນນິຕິບຸກຄົນ | ໃຫ້ບໍລິການຢູ່ </strong></h3>
            </span>        
            <h2><strong class="yellow">ຜະລິດຕະພັນ ສາທາລະນຸປະໂພກ</strong></h2>
            <span class="text-align:left!important">
                    <h3><strong class="blue">ບົດລາຍງານການຊົມໃຊ້ໄຟຟ້າ | ກຳລັງທົດລອງ </strong></h3><br>
                    <h3><strong class="blue">ບົດລາຍງານການຊົມໃຊ້ນ້ຳປະປາ | ກຳລັງພັດທະນາ </strong></h3><br>
                    <h3><strong class="blue">ບົດລາຍງານການຊົມໃຊ້ໂທລະຄົມ | ກຳລັງພັດທະນາ </strong></h3>
            </span>     
            
            <h2><strong class="yellow">ການບໍລິການ ສະມາຊິກຜ່ານລະບົບຂໍ້ມູນຂ່າວສານສິນເຊື່ອ</strong></h2>
            <span class="text-align:left!important">
                    <h3><strong class="blue">ສະໜອງບົດລາຍງານແບບທັນທີ | ໃຫ້ບໍລິການຢູ່ </strong></h3><br>
                    <h3><strong class="blue">ສະໜອງບົດລາຍງານທີ່ຕິດພັນກັບການແກ້ໄຂຂໍ້ຂັດແຍ່ງ | ໃຫ້ບໍລິການຢູ່ </strong></h3>
            </span>        
            <h2><strong class="yellow">ການບໍລິການ ບຸກຄົນ ແລະ ນິຕິບຸກຄົນ</strong></h2>
            <span class="text-align:left!important">
                    <h3><strong class="blue">ຂໍຂໍ້ມູນຂອງຕົນເອງ ສຳລັບບຸກຄົນ | ຕ້ອງມີໜັງສືຍິນຍອມ </strong></h3><br>
                    <h3><strong class="blue">ຂໍຂໍ້ມູນຂອງຕົນເອງ ສຳລັບນິຕິບຸກຄົນ | ຕ້ອງມີໜັງສືຍິນຍອມ </strong></h3><br>
                    <h3><strong class="blue">ຂໍຂໍ້ມູນຂອງບຸກຄົນອື່ນ | ຕ້ອງມີໜັງສືຍິນຍອມ </strong></h3><br>
                    <h3><strong class="blue">ຂໍຂໍ້ມູນຂອງນິຕິບຸກຄົນອື່ນ | ຕ້ອງມີໜັງສືຍິນຍອມ </strong></h3><br>
            </span>   
          </div>
        </div>
      </div>
    </div> <!-- end History -->
{%endblock%}