.User {
  padding-right: 7px;
}
.UserInfo {
  float: right;
  font-size: 15px;
  width: 350px;
  color: #fff;
  padding: 0px 0px 0px 10px;
  background: #020fbb;
  border-radius: 0px 20px 0px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* a:hover {
  color: red;
}
a {
  color: #ffff;
  text-decoration: none;
} */

/* .logout{
  color: red;
}

.logout{
  color: #fff;
  text-decoration: none;
}  */