{% load static %}
<header>
  <!-- header inner -->
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-3 col logo_section">
          <div class="full">
            <div class="center-desk">
              <div class="logo">
                {% if Lang == "la" %}
                <a href="{% url 'lcicHome:index' %}?Lang=la"
                  ><img src="{% static '/images/logo.png' %}" alt="#"/>
                </a>
                {% endif %}

                {% if Lang == "en" %}
                <a href="{% url 'lcicHome:EN_Lang' %}?Lang=en"
                  ><img src="{% static '/images/logo_en.png' %}" alt="#"/>
                </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-8 col-sm-9">
          <div class="header_information">
            <div class="menu-area">
              <div class="limit-box">
                <nav class="main-menu">
                  <ul class="menu-area-main">
                    <li>&nbsp;</li>
                    <li class="active">
                        {% if Lang == "la" %}
                      <a href="{% url 'lcicHome:index' %}?Lang=la"
                        >&nbsp;&nbsp; {% if Lang == "la"%}
                        {% for H_Lang in H_Lang_v %}
                        {{H_Lang.Trans_LA}}
                        {% endfor %}
                        {% elif Lang == "en" %}
                        {% for H_Lang in H_Lang_v %}
                        {{H_Lang.Trans_EN}}
                        {% endfor %}
                        {% endif %}
                      </a>
                        {% endif %}

                        {% if Lang == "en" %}
                        <a href="{% url 'lcicHome:EN_Lang' %}?Lang=en"
                          >&nbsp;&nbsp; {% if Lang == "la"%}
                          {% for H_Lang in H_Lang_v %}
                          {{H_Lang.Trans_LA}}
                          {% endfor %}
                          {% elif Lang == "en" %}
                          {% for H_Lang in H_Lang_v %}
                          {{H_Lang.Trans_EN}}
                          {% endfor %}
                          {% endif %}
                        </a>
                          {% endif %}
                    </li>
                    <li>
                      {% if Lang == "la" %}
                      <a href="{% url 'lcicNews:index' %}?Lang=la">
                        {% if Lang == "la" %}
                        {% for n in H_notice %}
                        {{n.Trans_LA}}
                      {% endfor %}
                      {% elif Lang == "en" %}
                      {% for n in H_notice %}
                        {{n.Trans_EN}}
                      {% endfor %}
                      {% endif %}</a>
                    </li>
                    {% endif%}

                    {% if Lang == "en" %}
                      <a href="{% url 'lcicNews:index' %}?Lang=en">
                        {% if Lang == "la" %}
                        {% for n in H_notice %}
                        {{n.Trans_LA}}
                      {% endfor %}
                      {% elif Lang == "en" %}
                      {% for n in H_notice %}
                        {{n.Trans_EN}}
                      {% endfor %}
                      {% endif %}</a>
                    </li>
                    {% endif%}
                    <li>
                        {% if Lang == "la" %}
                      <a href="{% url 'lcicNews:products' %}?proTypeid=1&Lang=la"
                        >{% if Lang == "la" %}
                        {% for p in H_pro %}
                        {{p.Trans_LA}}
                      {% endfor %}
                      {% elif Lang == "en" %}
                      {% for p in H_pro %}
                       {{p.Trans_EN}}
                       {% endfor %}
                      {% endif %}</a>
                      {% endif %}

                      {% if Lang == "en" %}
                      <a href="{% url 'lcicNews:products' %}?proTypeid=1&Lang=en"
                        >{% if Lang == "la" %}
                        {% for p in H_pro %}
                        {{p.Trans_LA}}
                      {% endfor %}
                      {% elif Lang == "en" %}
                      {% for p in H_pro %}
                       {{p.Trans_EN}}
                       {% endfor %}
                      {% endif %}</a>
                      {% endif %}
                    </li>
                    <li>
                      {% if Lang == "la" %}
                      <a href="{% url 'lcicNews:members' %}?Lang=la">
                      {% if Lang == "la" %}
                      {% for m in H_mem %}
                      {{m.Trans_LA}}
                    {% endfor %}
                    {% elif Lang == "en" %}
                    {% for m in H_mem %}
                      {{m.Trans_EN}}
                    {% endfor %}
                    {% endif %}</a>
                    {% endif %}

                    {% if Lang == "en" %}
                      <a href="{% url 'lcicNews:members' %}?Lang=en">
                      {% if Lang == "la" %}
                      {% for m in H_mem %}
                      {{m.Trans_LA}}
                    {% endfor %}
                    {% elif Lang == "en" %}
                    {% for m in H_mem %}
                      {{m.Trans_EN}}
                    {% endfor %}
                    {% endif %}</a>
                    {% endif %}
                </li>
                    <li>
                       {% if Lang == "la" %}
                      <a href="{% url 'lcicNews:docInfo' %}?Lang=la">
                        {% if Lang == "la" %}
                        {% for f in H_form %}
                        {{f.Trans_LA}}
                      {% endfor %}
                      {% elif Lang == "en" %}
                      {% for f in H_form %}
                        {{f.Trans_EN}}
                      {% endfor %}
                      {% endif %}</a>
                      {% endif %}

                      {% if Lang == "en" %}
                      <a href="{% url 'lcicNews:docInfo' %}?Lang=en">
                        {% if Lang == "la" %}
                        {% for f in H_form %}
                        {{f.Trans_LA}}
                      {% endfor %}
                      {% elif Lang == "en" %}
                      {% for f in H_form %}
                        {{f.Trans_EN}}
                      {% endfor %}
                      {% endif %}</a>
                      {% endif %}
                    </li>
                    <li class="nav-item dropdown">
                      <a
                        class="dropdown-bar dropdown-toggle"
                        href="#"
                        id="navbarDropdownMenuLink"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        >{% if Lang == "la" %}
                        {% for ab in H_about %}
                        {{ab.Trans_LA}}
                      {% endfor %}
                      {% elif Lang == "en" %}
                      {% for ab in H_about %}
                        {{ab.Trans_EN}}
                      {% endfor %}
                      {% endif %}</a
                      >
                      <ul
                        class="dropdown-link dropdown-toggle"
                        aria-labelledby="navbarDropdownMenuLink"
                      >
                        <li>
                          {% if Lang == "la" %}
                          <a
                            class="dropdown-item"
                            href="{% url 'lcicHome:history' %}?Lang=la"
                            >{% if Lang == "la" %}
                             {% for h in H_history %}
                               {{h.Trans_LA}}
                             {%endfor%}
                             {% elif Lang == "en" %}
                              {% for h in H_history %}
                               {{h.Trans_EN}}
                              {% endfor %}
                            {% endif %}</a>
                            {% endif %}

                            {% if Lang == "en" %}
                          <a
                            class="dropdown-item"
                            href="{% url 'lcicHome:history' %}?Lang=en"
                            >{% if Lang == "la" %}
                             {% for h in H_history %}
                               {{h.Trans_LA}}
                             {%endfor%}
                             {% elif Lang == "en" %}
                              {% for h in H_history %}
                               {{h.Trans_EN}}
                              {% endfor %}
                            {% endif %}</a>
                            {% endif %}
                        </li>
                        <li>
                          {% if Lang == "la" %}
                          <a
                            class="dropdown-item"
                            href="{% url 'lcicHome:orgChart' %}?Lang=la"
                            >{% if Lang == "la" %}
                            {% for or in H_organize %}
                              {{or.Trans_LA}}
                            {% endfor %}
                            {% elif Lang == "en" %}
                            {% for or in H_organize %}
                              {{or.Trans_EN}}
                            {% endfor %}
                            {% endif %}</a>
                            {% endif %}

                            {% if Lang == "en" %}
                          <a
                            class="dropdown-item"
                            href="{% url 'lcicHome:orgChart' %}?Lang=en"
                            >{% if Lang == "la" %}
                            {% for or in H_organize %}
                              {{or.Trans_LA}}
                            {% endfor %}
                            {% elif Lang == "en" %}
                            {% for or in H_organize %}
                              {{or.Trans_EN}}
                            {% endfor %}
                            {% endif %}</a>
                            {% endif %}
                        </li>
                        <li>
                          {% if Lang == "la" %}
                          <a
                            class="dropdown-item"
                            href="{% url 'lcicHome:directorChart' %}?Lang=la"
                            >{% if Lang == "la" %}
                              {% for bod in H_bod %}
                              {{bod.Trans_LA}}
                              {% endfor %}
                             {% elif Lang == "en" %}
                              {% for bod in H_bod %}
                              {{bod.Trans_EN}}
                              {% endfor %}
                            {% endif %}</a>
                            {% endif %}

                            {% if Lang == "en" %}
                            <a
                              class="dropdown-item"
                              href="{% url 'lcicHome:directorChart' %}?Lang=en"
                              >{% if Lang == "la" %}
                                {% for bod in H_bod %}
                                {{bod.Trans_LA}}
                                {% endfor %}
                               {% elif Lang == "en" %}
                                {% for bod in H_bod %}
                                {{bod.Trans_EN}}
                                {% endfor %}
                              {% endif %}</a>
                              {% endif %}
                        </li>
                        <li>
                          {% if Lang == "la" %}
                          <a
                            class="dropdown-item"
                            href="{% url 'lcicHome:ManagerChart' %}?Lang=la"
                            >{% if Lang == "la" %}
                              {% for md in H_md %}
                               {{md.Trans_LA}}
                              {% endfor %}
                             {% elif Lang == "en" %}
                              {% for md in H_md %}
                               {{md.Trans_EN}}
                               {% endfor %}
                            {% endif %}</a>
                            {% endif %}

                            {% if Lang == "en" %}
                          <a
                            class="dropdown-item"
                            href="{% url 'lcicHome:ManagerChart' %}?Lang=en"
                            >{% if Lang == "la" %}
                              {% for md in H_md %}
                               {{md.Trans_LA}}
                              {% endfor %}
                             {% elif Lang == "en" %}
                              {% for md in H_md %}
                               {{md.Trans_EN}}
                               {% endfor %}
                            {% endif %}</a>
                            {% endif %}
                        </li>
                      </ul>
                    </li>
                    <li>
                      {% if Lang == "la" %}
                      <a href="{% url 'lcicNews:jobs' %}?Lang=la">
                      {% if Lang == "la" %}
                      {% for j in H_job %}
                      {{j.Trans_LA}}
                    {% endfor %}
                    {% elif Lang == "en" %}
                    {% for j in H_job %}
                    {{j.Trans_EN}}
                    {% endfor %}
                    {% endif %}</a>
                    {% endif %}

                    {% if Lang == "en" %}
                      <a href="{% url 'lcicNews:jobs' %}?Lang=en">
                      {% if Lang == "la" %}
                      {% for j in H_job %}
                      {{j.Trans_LA}}
                    {% endfor %}
                    {% elif Lang == "en" %}
                    {% for j in H_job %}
                    {{j.Trans_EN}}
                    {% endfor %}
                    {% endif %}</a>
                    {% endif %}
                  </li>
                    <li>
                      {% if Lang == "la" %}
                      <a href="{% url 'lcicHome:contact' %}?Lang=la">
                        {% if Lang == "la" %}
                        {% for c in H_contact %}
                        {{c.Trans_LA}}
                      {% endfor %}
                      {% elif Lang == "en" %}
                      {% for c in H_contact %}
                      {{c.Trans_EN}}
                    {% endfor %}
                      {% endif %}</a>
                      {% endif %}

                      {% if Lang == "en" %}
                      <a href="{% url 'lcicHome:contact' %}?Lang=en">
                        {% if Lang == "la" %}
                        {% for c in H_contact %}
                        {{c.Trans_LA}}
                      {% endfor %}
                      {% elif Lang == "en" %}
                      {% for c in H_contact %}
                      {{c.Trans_EN}}
                    {% endfor %}
                      {% endif %}</a>
                      {% endif %}
                    </li>
                    <li class="nav-item dropdown">
                      {% if Lang == "la" %}
                      <a 
                        class="dropdown-bar dropdown-toggle"
                        href="{% url 'lcicHome:EN_Lang' %}?Lang=en"
                        >
                        {% if Lang == "la" %}
                        {% for en in H_en %}
                        {{en.Trans_EN}}
                      {% endfor %}
                      {% elif Lang == "en" %}
                      {% for la in H_la %}
                      {{la.Trans_LA}}
                    {% endfor %}
                      {% endif %}
                      </a>
                      {% endif %}

                      {% if Lang == "en" %}
                      <a 
                        class="dropdown-bar dropdown-toggle"
                        href="{% url 'lcicHome:EN_Lang' %}?Lang=la"
                        >
                        {% if Lang == "la" %}
                        {% for en in H_en %}
                        {{en.Trans_EN}}
                      {% endfor %}
                      {% elif Lang == "en" %}
                      {% for la in H_la %}
                      {{la.Trans_LA}}
                    {% endfor %}
                      {% endif %}
                      </a>
                      {% endif %}
                    </li>
                    <li>
                      {% if Lang == "la" %}
                    <a href="{% url 'lcicHome:loginPage' %}?Lang=la"
                      >{% if Lang == "la" %}
                      {% for log in H_login %}
                      {{log.Trans_LA}}
                    {% endfor %}
                    {% elif Lang == "en" %}
                    {% for log in H_login %}
                     {{log.Trans_EN}}
                     {% endfor %}
                    {% endif %}</a>
                    {% endif %}

                    {% if Lang == "en" %}
                    <a href="{% url 'lcicHome:loginPage' %}?Lang=en"
                      >{% if Lang == "la" %}
                      {% for log in H_login %}
                      {{log.Trans_LA}}
                    {% endfor %}
                    {% elif Lang == "en" %}
                    {% for log in H_login %}
                     {{log.Trans_EN}}
                     {% endfor %}
                    {% endif %}</a>
                    {% endif %}</a>
                  </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- end header inner -->
