{% extends "layouts/base.html" %}
{% block title %}News Detail{%endblock%}

{% block content %}
<div id="important" class="important">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="titlepage">
            <h2><strong class="yellow">
              {% if Lang == "la" %}
              {% for h in H_history %}
                {{h.Trans_LA}}
              {%endfor%}
              {% elif Lang == "en" %}
               {% for h in H_history %}
                {{h.Trans_EN}}
               {% endfor %}
             {% endif %}</strong></h2>
                <!-- span style="text-align:left!important"> &nbsp;&nbsp; ການຂະຫຍາຍຕົວເສດຖະກິດ ຂອງ ສປປ ລາວ ນັບມຶ້ນັບເຕີບໃຫຍ່ ໂດຍສະເພາະຂະແໜງການເງິນ ພາໃຫ້ສະພາບສິນເຊື່ອມີການຂະຫຍາຍຕົວຢ່າງໄວວາ ແລະ ເພື່ອເຮັດໃຫ້ການຂະຫຍາຍຕົວດັ່ງກ່າວມີປະສິດທິພາບ, ປະກອບສ່ວນກັບການພັດທະນາເສດຖະກິດ-ສັງຄົມຂອງປະເທດ ລັດຖະບານຈື່ງເຫັນໄດ້ຄວາມສໍາຄັນຂອງວຽກງານຂໍ້ມູນຂ່າວສານສິນເຊື່ອ ແລະ ສ້າງຕັ້ງວຽກງານດັ່ງກ່າວນີ້ຂຶ້ນພາຍໃຕ້ການຄຸ້ມຄອງຂອງທະນາຄານ ແຫ່ງ ສປປລາວ, ສໍາລັບການເຄື່ອນໄຫວວຽກງານຂໍ້ມູນຂ່າວສານສິນເຊື່ອ ໃນແຕ່ລະໄລຍະມີຄື:
                    ໃນໄລຍະປີ 2001 -2012 ສູນຂໍ້ມູນຂ່າວສານສິນເຊື່ອ ໄດ້ຮັບການສ້າງຕັ້ງຂຶ້ນໂດຍດຳເນີນການພາຍໃຕ້ກົດລະບຽບກ່ຽວກັບສູນຂໍ້ມູນຂ່າວສານສິນເຊື່ອ ສະບັບເລກທີ 03/ທຫລ ລົງວັນທີ 08/11/2001 ລະບຽບດັ່ງກ່າວແມ່ນຖືກສ້າງຂຶ້ນໂດຍອີງໃສ່ວິວັດທະນາການທາງດ້ານເຕັກໂນໂລຊີໃນໄລຍະນັ້ນການຮັບສົ່ງຂໍ້ມູນສິນເຊື່ອລະຫວ່າງ ສູນຂໍ້ມູນຂ່າວສານສິນເຊື່ອ ແລະ ສະມາຊິກແມ່ນເປັນແບບປະຖົມປະຖານ ໂດຍການນຳໃຊ້ແຟັກເປັນເຄື່ອງມືໃນການຮັບສົ່ງຂໍ້ມູນເຊິ່ງກັນແລະກັນ, ເນື່ອງຈາກຈຳນວນສະມາຊິກໄດ້ມີການເພີ້ມຂື້ນຢ່າງວ່ອງໄວຈາກ 10 ແຫ່ງ ມາເປັນ 33 ກວ່າແຫ່ງ ກົດລະບຽບ ແລະ ເຄື່ອງມືທີ່ມີຢູ່ໃນຄະນະນັ້ນຈຶ່ງບໍ່ສາມາດຮອງຮັບຈຳນວນສະມາຊິກທີ່ເພີ່ມຂຶ້ນໄດ້ ເຮັດໄຫ້ສູນມີຄວາມລ່າຊ້າໃນການສະໜອງບົດລາຍງານໃຫ້ແກ່ສະມາຊິກ, ບໍ່ທັນສະພາບການ ແລະ  ຂໍ້ມູນບໍ່ມີຄວາມຖືກຕ້ອງຊັດເຈນເທົ່າທີ່ຄວນ.
                    ໃນໄລຍະປີ 2012 - ປະຈຸບັນ ສູນຂໍ້ມູນຂ່າວສານສິນເຊື່ອ ໄດ້ພັດທະນາ ແລະ ນຳໃຊ້ ລະບົບຊີໄອບີ ອອນລາຍ ທີ່ທັນສະໄໝ ເຂົ້າມາຮັບໃຊ້ວຽກງານຂໍ້ມູນຂ່າວສານສິນເຊື່ອໃນການເກັບກຳ ແລະ ສະໜອງ ໃຫ້ແກ່ສະມາຊິກ ພ້ອມກັນນັ້ນກໍ່ໄດ້ປັບປຸງກົດລະບຽບ ເລກທີ 03/ທຫລ ລົງວັນທີ 08/11/2001 ປັບປຸງມາເປັນຂໍ້ຕົກລົງວ່າດ້ວຍການເຄື່ອນໄຫວວຽກງານຂໍ້ມູນຂ່າວສານສິນເຊື່ອ ເລກທີ 928/ທຫລ ລົງວັນທີ 20/09/2012 ແລະ ຂໍ້ຕົກລົງວ່າດ້ວຍການເຂົ້າຫາຂໍ້ມູນຂ່າວສານສິນເຊື່ອ ເລກທີ 03/ທຫລ ລົງວັນທີ 02/01/2018; ເພື່ອໃຫ້ແທດເໝາະກັບສະພາບການໃນການບໍລິຫານຄຸ້ມຄອງການເຄື່ອນໄຫວວຽກງານຂໍ້ມູນຂ່າວສານສິນເຊື່ອ.	
                    ມາຮອດປີ 2019 ເພື່ອຍົກສູງພາລະບົດບາດການເຄື່ອນໄຫວວຽກງານຂໍ້ມູນຂ່າວສານສິນເຊື່ອໃຫ້ພົ້ນເດັ່ນ ເປັນສູນກາງໃນການແລກປ່ຽນຂໍ້ມູນທີ່ຕິດພັນກັບວຽກງານຂໍ້ມູນຂ່າວສານສິນເຊື່ອ ເພື່ອນໍາມາສ້າງຜະລິດຕະພັນໃຫ້ໄດ້ຕາມມາດຕະຖານສາກົນ ທີ່ມີຄວາມຄົບຖ້ວນ, ມີຄຸນນະພາບ, ມີຄວາມທັນສະໄໝ, ຮັບປະກັນຄວາມປອດໄພດ້ານຂໍ້ມູນຂ່າວສານສິນເຊື່ອ ກ້າວໄປສູ່ການເຊື່ອມໂຍງກັບພາກພື້ນ ແລະ ສາກົນໃນອານະຄົດ ສະນັ້ນ, ລັດຖະບານຈື່ງໄດ້ ສ້າງຕັ້ງບໍລິສັດ ຂໍ້ມູນຂ່າວສານສິນເຊື່ອແຫ່ງ ສປປ ລາວ ຂື້ນຢ່າງເປັນທາງການໃນວັນທີ 17 ທັນວາ 2019 ໂດຍແມ່ນທະນາຄານແຫ່ງ ສປປ ລາວ ຖືຮຸ້ນ 100% ແລະ ເຄື່ອນໄຫວວຽກງານພາຍໃຕ້ດໍາລັດວ່າດ້ວຍວຽກງານຂໍ້ມູນຂ່າວສານສິນເຊື່ອ ສະບັບເລກທີ 224/ລບ, ລົງວັນທີ 19 ກໍລະກົດ 2019. 
                </span -->
                <span class="text-align:left!important"> &nbsp;&nbsp; {% if Lang == "la" %}
                  {% for p1 in H_p1 %}
                    {{p1.Trans_LA}}
                  {%endfor%}
                  {% elif Lang == "en" %}
                  {% for p1 in H_p1 %}
                  {{p1.Trans_EN}}
                   {% endfor %}
                 {% endif %}<br>
                    &nbsp;&nbsp;&nbsp;<h3>{% if Lang == "la" %}
                      {% for t2 in H_t2 %}
                        {{t2.Trans_LA}}
                      {%endfor%}
                      {% elif Lang == "en" %}
                      {% for t2 in H_t2 %}
                      {{t2.Trans_EN}}
                       {% endfor %}
                     {% endif %}</h3>  
                     
                     {% if Lang == "la" %}
                     {% for p2 in H_p2 %}
                       {{p2.Trans_LA}}
                     {%endfor%}
                     {% elif Lang == "en" %}
                     {% for p2 in H_p2 %}
                     {{p2.Trans_EN}}
                      {% endfor %}
                    {% endif %}<br>
                    
                    <h3>{% if Lang == "la" %}
                      {% for t3 in H_t3 %}
                        {{t3.Trans_LA}}
                      {%endfor%}
                      {% elif Lang == "en" %}
                      {% for t3 in H_t3 %}
                      {{t3.Trans_EN}}
                       {% endfor %}
                     {% endif %}</h3>  
                     
                     {% if Lang == "la" %}
                     {% for p3 in H_p3 %}
                       {{p3.Trans_LA}}
                     {%endfor%}
                     {% elif Lang == "en" %}
                     {% for p3 in H_p3 %}
                     {{p3.Trans_EN}}
                      {% endfor %}
                    {% endif %}<br>
                    &nbsp;&nbsp;&nbsp;<h3>{% if Lang == "la" %}
                      {% for t4 in H_t4 %}
                        {{t4.Trans_LA}}
                      {%endfor%}
                      {% elif Lang == "en" %}
                      {% for t4 in H_t4 %}
                      {{t4.Trans_EN}}
                       {% endfor %}
                     {% endif %}</h3> {% if Lang == "la" %}
                     {% for p4 in H_p4 %}
                       {{p4.Trans_LA}}
                     {%endfor%}
                     {% elif Lang == "en" %}
                     {% for p4 in H_p4 %}
                     {{p4.Trans_EN}}
                      {% endfor %}
                    {% endif %}<br>

                    &nbsp;&nbsp;&nbsp;<h3>{% if Lang == "la" %}
                      {% for t5 in H_t5 %}
                        {{t5.Trans_LA}}
                      {%endfor%}
                      {% elif Lang == "en" %}
                      {% for t5 in H_t5 %}
                      {{t5.Trans_EN}}
                       {% endfor %}
                     {% endif %}</h3> {% if Lang == "la" %}
                     {% for p5 in H_p5 %}
                       {{p5.Trans_LA}}
                     {%endfor%}
                     {% elif Lang == "en" %}
                     {% for p5 in H_p5 %}
                     {{p5.Trans_EN}}
                      {% endfor %}
                    {% endif %}<br>

                    &nbsp;&nbsp;&nbsp;<h3>{% if Lang == "la" %}
                      {% for t6 in H_t6 %}
                        {{t6.Trans_LA}}
                      {%endfor%}
                      {% elif Lang == "en" %}
                      {% for t6 in H_t6 %}
                      {{t6.Trans_EN}}
                       {% endfor %}
                     {% endif %}</h3> {% if Lang == "la" %}
                     {% for p6 in H_p6 %}
                       {{p6.Trans_LA}}
                     {%endfor%}
                     {% elif Lang == "en" %}
                     {% for p6 in H_p6 %}
                     {{p6.Trans_EN}}
                      {% endfor %}
                    {% endif %}<h3>{% if Lang == "la" %}
                      {% for t7 in H_t7 %}
                        {{t7.Trans_LA}}
                      {%endfor%}
                      {% elif Lang == "en" %}
                      {% for t7 in H_t7 %}
                      {{t7.Trans_EN}}
                       {% endfor %}
                     {% endif %}</h3>
                     {% if Lang == "la" %}
                     {% for p7 in H_p7 %}
                       {{p7.Trans_LA}}
                     {%endfor%}
                     {% elif Lang == "en" %}
                     {% for p7 in H_p7 %}
                     {{p7.Trans_EN}}
                      {% endfor %}
                    {% endif %} 
                                      
                </span>            
          </div>
        </div>
      </div>
    </div> <!-- end History -->
{%endblock%}