{% load static %}
<header>
  <nav>
    <div class="navbar">
      <i class="bx bx-menu"></i>
      <div class="logobackground">
        <div class="logolcic">
          {% if Lang == "la" %}
          <a href="{% url 'lcicHome:home' %}?Lang=la"><img src="{% static '/images/logo.png' %}" alt="#" /></a>
          {% elif Lang == "en" %}
          <a href="{% url 'lcicHome:home' %}?Lang=en"><img src="{% static '/images/logo.png' %}" alt="#" /></a>
          {% endif %}
        </div>
      </div>
    {% comment %} Check if user is Superadmin {% endcomment %}
      {% if check_UserGroup == 1 %}
      <div class="nav-links">
        <div class="sidebar-logo">
          <span class="logo-name">LCIC</span>
          <i class="bx bx-x"></i>
        </div>
        <ul class="links">
          <li>
            {% if Lang == "la" %}
            <a href="{% url 'lcicHome:home' %}?Lang=la">{% for main in Main_Menu %} {{main.nameL}} {% endfor %}</a>
            {% elif Lang == "en" %}
            <a href="{% url 'lcicHome:home' %}?Lang=en">{% for main in Main_Menu %} {{main.nameE}} {% endfor %}</a>
            {% endif %}
          </li>
          <li><a href="{% url 'lcicHome:search'%}?Lang=la">{% for search in Search_Menu %} {{search.nameL}} {% endfor %}</a></li>
          <li>
            ........
            <a href="#">{% for manage in Management_Menu %} {{manage.nameL}} {% endfor %}</a>
            <i class="bx bxs-chevron-down htmlcss-arrow arrow"></i>
            <ul class="htmlCss-sub-menu sub-menu">
              <li><a href="{% url 'lcicHome:manageUser' %}?Lang=la">
                  {% for cus in cus_manage %}
                  {{cus.nameL}}
                  {% endfor %}
                </a>
              </li>
              <li><a href="#">
                  {% for mem in mem_manage %}
                  {{mem.nameL}}
                  {% endfor %}
                </a>
              </li>
              <li><a href="#">
                  {% for report in report_manage %}
                  {{report.nameL}}
                  {% endfor %}
                </a>
              </li>
              {% comment %} Porfolio Report_Menu {% endcomment %}
              
              {% comment %} <li><a href="#">ຂໍ້ມູນລູກຄ້າ</a></li>
              <li><a href="#">ຂໍ້ມູນສະມາຊິກ</a></li>
              <li><a href="#">ຂໍ້ມູນສາທານຸປະໂພກ</a></li> {% endcomment %}
              <li class="more">
                <span><a href="#">ເພີ່ມເຕີມ</a>
                  <i class="bx bxs-chevron-right arrow more-arrow"></i>
                </span>
                <ul class="more-sub-menu sub-menu">
                  <li><a href="#">ສະຖາບັນການເງິນ</a></li>
                  <li><a href="#">ສະມາຊິກທັງໝົດ</a></li>
                  <li><a href="#">ສະຖາບັນການເງິນ</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">{% for report in Report_Menu %} {{report.nameL}} {% endfor %}</a>
            <i class="bx bxs-chevron-down js-arrow arrow"></i>
            <ul class="js-sub-menu sub-menu">
              <li><a href="#">
                  {% for UserRp in user_report %}
                  {{UserRp.nameL}}
                  {% endfor %}
                </a>
              </li>
              <li><a href="#">
                  {% for MemRp in mem_report %}
                  {{MemRp.nameL}}
                  {% endfor %}
                </a>
              </li>
              <li><a href="#">
                  {% for UseSysRp in usesys_report %}
                  {{UseSysRp.nameL}}
                  {% endfor %}
                </a>
              </li>
              {% comment %} <li><a href="#">ລາຍງານການນຳໃຊ້ລະບົບ</a></li>
              <li><a href="#">ຕິດຕາມການຄົ້ນຫາ</a></li>
              <li><a href="#">ຄ່າທຳນຽມ</a></li>
              <li><a href="#">ເບິ່ງບົດລາຍງານປະຈຳວັນ</a></li> {% endcomment %}
            </ul>
          </li>
           <li><a href="{% url 'lcicHome:showUploadfile' %}">ນຳສົ່ງຂໍ້ມູນ{% comment %}{% for user in User_Menu %} {{user.nameL}} {% endfor %}{% endcomment %} </a></li> 
          <li><a href="#">{% for service in Service_Menu %} {{service.nameL}} {% endfor %}</a></li>
        </ul>
      </div>
      <div class="search-box">
        <i class="bx bx-user"></i>
        <div class="input-box">
          {% comment %} <input type="text" placeholder="Search..." /> {% endcomment %}
          <div class="userlog">
            ສະບາຍດີ, {% for u in u %} {{u.username}} {% endfor%}
          </div>

        </div>
      </div>
      
      {% else %}
      <div class="nav-links">
        <div class="sidebar-logo">
          <span class="logo-name">LCIC</span>
          <i class="bx bx-x"></i>
        </div>
        <ul class="links">
          <li>
            {% if Lang == "la" %}
            <a href="{% url 'lcicHome:home' %}?Lang=la">{% for main in Main_Menu %} {{main.nameL}} {% endfor %}</a>
            {% elif Lang == "en" %}
            <a href="{% url 'lcicHome:home' %}?Lang=en">{% for main in Main_Menu %} {{main.nameE}} {% endfor %}</a>
            {% endif %}
          </li>
          <li><a href="{% url 'lcicHome:search'%}?Lang=la">{% for search in Search_Menu %} {{search.nameL}} {% endfor %}</a></li>
          <li>
            <a href="#">{% for User in User_Menu %} {{User.nameL}} {% endfor %}</a>
            <i class="bx bxs-chevron-down js-arrow arrow"></i>
            <ul class="js-sub-menu sub-menu">
              <li><a href="#">
                  {% for UserRp in user_report %}
                  {{UserRp.nameL}}
                  {% endfor %}
                </a>
              </li>
              <li><a href="#">
                  {% for MemRp in mem_report %}
                  {{MemRp.nameL}}
                  {% endfor %}
                </a>
              </li>
              <li><a href="#">
                  {% for UseSysRp in usesys_report %}
                  {{UseSysRp.nameL}}
                  {% endfor %}
                </a>
              </li>
              {% comment %} <li><a href="#">ລາຍງານການນຳໃຊ້ລະບົບ</a></li>
              <li><a href="#">ຕິດຕາມການຄົ້ນຫາ</a></li>
              <li><a href="#">ຄ່າທຳນຽມ</a></li>
              <li><a href="#">ເບິ່ງບົດລາຍງານປະຈຳວັນ</a></li> {% endcomment %}
            </ul>
          </li>
          {% comment %} credit Report  {% endcomment %}
          <li>
            <a href="#">{% for report in Report_Menu %} {{report.nameL}} {% endfor %}</a>
            <i class="bx bxs-chevron-down js-arrow arrow"></i>
            <ul class="js-sub-menu sub-menu">
              {% comment %} <li><a href="#">
                  {% for UserRp in user_report %}
                  {{UserRp.nameL}}
                  {% endfor %}
                </a>
              </li>
              <li><a href="#">
                  {% for MemRp in mem_report %}
                  {{MemRp.nameL}}
                  {% endfor %}
                </a>
              </li>
              <li><a href="#">
                  {% for UseSysRp in usesys_report %}
                  {{UseSysRp.nameL}}
                  {% endfor %}
                </a>
              </li> {% endcomment %}

            </ul>
          </li>
          <li><a href="{% url 'lcicHome:showUploadfile' %}">ນຳສົ່ງຂໍ້ມູນ</a></li> 
          <li><a href="#">{% for service in Service_Menu %} {{service.nameL}} {% endfor %}</a></li>
        </ul>
      </div>
      <div class="search-box">
        <i class="bx bx-user"></i>
        <div class="input-box">
          {% comment %} <input type="text" placeholder="Search..." /> {% endcomment %}
          <div class="userlog">
            ສະບາຍດີ, {% for u in u %} {{u.username}} {% endfor%}
          </div>

        </div>
      </div>
      {% endif %}


    </div>
  </nav>
</header>