{% load static %}                
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Laila&family=Noto+Sans+Lao:wght@400;500&display=swap');
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

p {
  font-family: 'Noto Sans Lao', sans-serif;
}

th, td{
  font-family: 'Noto Sans Lao', sans-serif;
}

th {
  font-size:8px;
}
td{
  font-size:8px;
}

td.normal-wrap {
  white-space: normal;
}

/* Option 2: Break spaces for better word wrapping */
td.break-spaces-wrap {
  white-space: break-spaces;
}
</style>
<body>
  <div class="container-xl">
    <div class="container-xl">
      <div class="container-xl d-flex flex-row justify-content-space-between mb-3" style="margin: 0px;">
        {% comment %} Company Name {% endcomment %}
        <div class="d-flex flex-row px-2 bd-highlight justify-content-center align-items-center col-5 " style="float: left;">
          <div class="p-2 bd-highlight">
            <img src=" {{image_path}}" width="180" height="180" alt="">
            <img src="static\images\lcic_logo.png" alt="">
          </div>
          <div class="p-2 bd-highlight ps-5">
            <p class="text-center fw-bold pb-2" style="font-size:12px; margin:1px; line-height: 1.5px; color: #000080;">ບໍລິສັດ ຂໍ້ມູນຂ່ວສານສິນເຊື່ອເເຫ່ງ ສປປ ລາວ</p>
            {% comment %} <hr class"" style="margin:1; line-height:1; border: solid 2px red"> {% endcomment %}
            <div class="" style="margin:1px; line-height:1px; border: solid 1px #000080"></div>
            <p class="text-center fw-bold pt-1" style="font-size:12px; margin:1px; line-height: 1.5px; color:#000080; ">Lao Credit Infomation Company</p>
          </div>
          {% comment %} detail {% endcomment %}
        </div>

 <div class=" justify-content-end align-items-end col-7" style="float: right;">
  <div class="d-flex flex-column  text-start text-primary " style="padding-left:170px;">
    <p style="font-family: 'Times New Roman'; font-size:8px; margin:1px; line-height: 1;">Lao Credit Information Company</p>
      <p style="font-family: 'Times New Roman'; font-size:8px; margin:1px; line-height: 1;" >2nd Floor, Lao Security Exchange Building </p>
      <p style="font-family: 'Times New Roman'; font-size:8px; margin:1px; line-height: 1;">Phonthan Village, Xaysettha District Vientiane Capital</p> 
      <p style="font-family: 'Times New Roman'; font-size:8px; margin:1px; line-height: 1;">Telephone No:(856)21-254292 ,(021) 216259</p>
      <p style="font-family: 'Times New Roman'; font-size:8px; margin:1px; line-height: 1;">Email: LCIC@bol.Gov.la</p>
  </div>
 </div>

      </div>
      <div class=" text-end px-2" style="font-size:10px; font-family: 'Noto Sans Lao', sans-serif;">ພິມວັນທີ {{formatted_datetime}}</div>
  
  
      {% comment %}  {% endcomment %} 
      <div class="text-center text-light rounded-2 p-1 container" style="background-color:#000080;">
        <p class=" m-0" style="font-size:13px;">ບົດລາຍງານສິນເຊື່ອຄົບຖ້ວນ (ສໍາລັບນິຕິບຸກຄົນ)</p>
      </div>
      <div class="d-flex flex-row justify-content-space-between p-2 ">

        </div>
      {% comment %}  {% endcomment %}

      <div class="container mt-4">
        <div class="row">
          <div class="col mx-1">
           <table class="table table-sm">
              <thead>
                  <tr>
                      <th class="fw-bold "scope="col">ອ້າງອີງການສອບຖາມ:</th>
                      <th class"fw-bold "scope="col">FCRFI-0-01-200623-9141739</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>ຂໍ້ມູນສະໜອງໃຫ້</td>
                      <td></td>
                  </tr>
                  <tr>
                      <td>ລະຫັດວິສາຫະກິດ:</td>
                      <td>{{report_data.EnterpriseID}}</td>
                  </tr>
                  <tr>
                    <td>ລະຫັດບໍລິສັດຂສລ:</td>
                    <td>{{report_data.LCICID}}</td>
                </tr>
                <tr>
                  <td>ປະເພດຂອງຂໍ້ມູນ:</td>
                  <td></td>
              </tr>
              <tr>
                <td>ປະເພດຂອງຜະລິດຕະພັນ:</td>
                <td>{{report_detail.nameL}}</td>
            </tr>
              </tbody>
          </table>
          </div>
          <div class="col mx-1 ">
            <table class="table table-sm">
              <thead>
                  <tr>
                      <th class="fw-bold" scope="col">ຂໍ້ມຸນທີ່ຜ່ານມາ:</th>
                      <th class="fw-bold" scope="col">15</th>
                  </tr>
              </thead>
              <tbody>
              <tr>
                  <td>ຂໍ້ມຸນທີ່ຄົ້ນພົບ:</td>
                  <td></td>
              </tr>
              <tr>
                <td>ຊື່ບໍລິສັດ(ພາສາລາວ):</td>
                <td>{{report_data.enterpriseNameLao}}</td>
            </tr>
            <tr>
              <td>ຊື່ບໍລິສັດ(ພາສາອັງກິດ):</td>
              <td>{{report_data.eneterpriseNameEnglish}}</td>
          </tr>
          <tr>
            <td>ຊື່ທໍາອິດຂອງຜູ້ຖືຮູ້ນລາຍໃຫຍ່(ພາສາລາວ):</td>
            <td>{{report_invs.investorName}}</td>
        </tr>
        <tr>
          <td>ຊື່ທໍາອິດຂອງຜູ້ຖືຮູ້ນລາຍໃຫຍ່(ພາສາອັງກິດ): </td>
          <td>{{report_invs.investorName}}</td>
      </tr>
      <tr>
        <td>ຜູ້ຈັດການທົ່ວໄປ(ພາສາລາວ):</td>
        <td></td>
    </tr>
    <tr>
      <td>ຜູ້ຈັດການທົ່ວໄປ(ພາສາອັງກິດ):</td>
      <td></td>
  </tr>
  <tr>
    <td> ລະຫັດວິສາຫະກິດ: </td>
    <td>{{report_data.LCICID}}</td>
</tr>
<tr>
  <td> ປະເພດທຸລະກິດ: </td>
  <td></td>
</tr>
              </tbody>
          </table>
          </div>
        </div>
    </div>
    
    <div class="text-start text-light rounded-2 p-1 fs-6" style="background-color:#000080; font-size:10px;">
      <p class="m-0 ps-2" style="font-family: 'Noto Sans Lao', sans-serif; font-size:12px;">ລາຍລະອຽດຂອງຂໍ້ມູນທີ່ຜ່ານມາ</p> 
    </div>

      {% comment %}  {% endcomment %}
      <div class="">
        <table class="table text-start mt-2" style="margin:1; line-height: 1;">
          <thead class="bg-light">
            <tr>
              <th scope="col" class="fw-bold  border border-secondary" style="font-family: 'Noto Sans Lao', sans-serif;">ຊື່ທະນາຄານ</th>
              <th scope="col" class="fw-bold  border border-secondary" style="font-family: 'Noto Sans Lao', sans-serif;">ຊື່ບໍລິສັດ(ພາສາອັງກິດ)</th>
              <th scope="col" class="fw-bold  border border-secondary" style="font-family: 'Noto Sans Lao', sans-serif;">ຊື່ບໍລິສັດ(ພາສາລາວ)</th>
              <th scope="col" class="fw-bold  border border-secondary" style="font-family: 'Noto Sans Lao', sans-serif;">ປະເພດຂອງຂໍ້ມູນ</th>
              <th scope="col" class="fw-bold  border border-secondary" style="font-family: 'Noto Sans Lao', sans-serif;">ປະເພດຂອງຜະລິດຕະພັນ</th>
              <th scope="col" class="fw-bold  border border-secondary" style="font-family: 'Noto Sans Lao', sans-serif;">ວັນທີເດຶອນປີ</th>
            </tr>
          </thead>
          <tbody>
            <tr style="font-size:12px">
              <td class="">-</td>
              <td></td>
              <td class="fw-bold">-</td>
              <td>-</td>
              <td>{{report_detail.nameL}}</td>
              <td class="fw-bold">-</td>
            </tr>
    
          </tbody>
        </table>
      </div>
      {% comment %}  {% endcomment %}
      <div class="text-start text-light rounded-2 p-1 mt-2" style="background-color:#000080;">
        <p class="m-0 ps-2" style="font-family: 'Noto Sans Lao', sans-serif; font-size:12px;">ລວມວົງເງິນກູ້ທີ່ເຄື່ອນໄຫວທັງໝົດ (ອີງຕາມສັນຍາກູ້ຢືມ)</p> 
      </div>
      {% comment %}  {% endcomment %}
      <div>
        <table class="table text-start mt-2 " style="margin:1; line-height: 1;">
          <thead class="bg-light">
            <tr>
              <th scope="col" class="fw-bold  border border-secondary" style="">ສະມາຊິກ</th>
              <th scope="col" class="fw-bold  border border-secondary" style=" ">ລະຫັດຂອງເງິນກູ້</th>
              <th scope="col" class="fw-bold  border border-secondary" style=" ">ວັນທີເຊັນສັນຍາ</th>
              <th scope="col" class="fw-bold  border border-secondary" style=" ">ວົງເງິນອະນູມັດກູ້</th>
              <th scope="col" class="fw-bold  border border-secondary" style=" ">ຍອດເຫຼືອໜີ້</th>
              <th scope="col" class="fw-bold  border border-secondary" style=" ">ສະກຸນເງິນ</th>
              <th scope="col" class="fw-bold  border border-secondary" style=" ">ຈໍານວນວັນທີ່ຊໍາລະຊ້າ</th>
              <th scope="col" class="fw-bold  border border-secondary" style=" ">ປະຫວັດການຈັດຊັ້ນໜີ້ 12 ເດືອນນັບຈາກເດືອນປະຈຸບັນ</th>
              <th scope="col" class="fw-bold  border border-secondary" style=" ">ວັນທີລ້າສຸດ</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="">-</td>
              <td>-</td>
              <td class="fw-bold">-</td>
              <td>-</td>
              <td>-</td>
              <td class="fw-bold">-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
  
            </tr>
    
          </tbody>
        </table>
      </div>
      {% comment %}  {% endcomment %}
      <div class="text-start text-light rounded-2 p-1 mt-2" style="background-color:#000080;">
        <p class="m-0 ps-2" style="font-family: 'Noto Sans Lao', sans-serif; font-size:12px;">ລາຍລະອຽດກ່ຽວກັບວົງເງິນກູ້</p> 
      </div>
      {% comment %}  {% endcomment %}
      <div>
        <table class="table mt-2" style="margin:1; line-height: 1.5;">
          <thead class="bg-light">
            <tr class="text-center align-top " style="" >
              <th scope="col" class="fw-bold px-1  border border-secondary" style="">ສະມາຊິກ</th>
              <th scope="col" class="fw-bold px-1  border border-secondary" style="">ລະຫັດຂອງເງິນກູ້</th>
              <th scope="col" class="fw-bold px-1  border border-secondary" style="">ວັນທີເຊັນສັນຍາ</th>
              <th scope="col" class="fw-bold px-1  border border-secondary" style="">ວັນໝົດອາຍຸ ສັນຍາ</th>
              <th scope="col" class="fw-bold px-1  border border-secondary" style="">ວົງເງິນ ອະນູມັດກູ້</th>
              <th scope="col" class="fw-bold px-1  border border-secondary" style="">ຍອດເຫຼືອໜີ້</th>
              <th scope="col" class="fw-bold px-1  border border-secondary" style="">ສະກຸນເງິນ</th>
              <th scope="col" class="fw-bold px-1  border border-secondary" style="">ອັດຕາດອກເບ້ຍ</th>
              <th scope="col" class="fw-bold px-1  border border-secondary" style=" ">ເປົ້າໝາຍເງິນກູ້ / ປະເພດບັດສິນເຊື່ອ</th>
              <th scope="col" class="fw-bold px-1  border border-secondary" style="">ຈໍານວນວັນທີ່ ຊໍາລະຊ້າ</th>
              <th scope="col" class="fw-bold px-1  border border-secondary" style="">ການຈັດຊັ້ນໜີ້</th>
              <th scope="col" class="fw-bold px-1  border border-secondary" style="">ປະເພດເງິນກູ້</th>
              <th scope="col" class="fw-bold px-1  border border-secondary" style="">ໄລຍະເວລາ ໃນການກູ້ຢືມ</th>
              <th scope="col" class="fw-bold px-1  border border-secondary" style="">ສະຖານະພາບ</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="fw-bold">-</th>
              <td>-</td>
              <td class="fw-bold">-</td>
              <td>-</td>
              <td>-</td>
              <td class="fw-bold">-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
    
          </tbody>
        </table>
      </div>
      {% comment %}  {% endcomment %}
      <div class="text-start text-light rounded-3 p-1 mt-2" style="background-color:#000080;">
        <p class="m-0 ps-2" style="font-family: 'Noto Sans Lao', sans-serif; font-size:12px;">ລາຍລະອຽດກ່ຽວກັບວົງເງິນກູ້ຂອງຜູ້ກູ້ຮ່ວມ / ບັດເສີມ</p> 
      </div>
      {% comment %}  {% endcomment %}
      <div class="" style="overflow-x: auto; width:100%;">
        <table class="table mt-2" style="margin:1; line-height: 1.5;">
          <thead scope="col" class="bg-light" style="";>
            <tr class="text-center align-top ">
              <th scope="col" class="fw-bold px-1  border border-secondary" style="">ສະມາຊິກ</th>
              <th scope="col" class="fw-bold px-1  border border-secondary" style="">ລະຫັດຂອງເງິນກູ້</th>
              <th scope="col" class="fw-bold px-1  border border-secondary" style="">ວັນທີເຊັນສັນຍາ</th>
              <th scope="col" class="fw-bold px-1  border border-secondary" style="">ວັນໝົດອາຍຸ ສັນຍາ</th>
              <th scope="col" class="fw-bold px-1  border border-secondary" style="">ວົງເງິນ ອະນູມັດກູ້</th>
              <th scope="col" class="fw-bold px-1  border border-secondary" style="">ຍອດເຫຼືອໜີ້</th>
              <th scope="col" class="fw-bold px-1  border border-secondary" style="">ສະກຸນເງິນ</th>
              <th scope="col" class="fw-bold px-1  border border-secondary" style="">ອັດຕາດອກເບ້ຍ</th>
              <th scope="col" class="fw-bold px-1  border border-secondary" style="">ເປົ້າໝາຍເງິນກູ້/ປະເພດບັດສິນເຊື່ອ</th>
              <th scope="col" class="fw-bold px-1  border border-secondary" style="">ຈໍານວນວັນທີ່ ຊໍາລະຊ້າ</th>
              <th scope="col" class="fw-bold px-1  border border-secondary" style="">ການຈັດຊັ້ນໜີ້</th>
              <th scope="col" class="fw-bold px-1  border border-secondary" style="">ປະເພດເງິນກູ້</th>
              <th scope="col" class="fw-bold px-1  border border-secondary" style="">ໄລຍະເວລາ ໃນການກູ້ຢືມ</th>
              <th scope="col" class="fw-bold px-1  border border-secondary" style="">ສະຖານະພາບ</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="fw-bold">-</th>
              <td>-</td>
              <td class="fw-bold">-</td>
              <td>-</td>
              <td>-</td>
              <td class="fw-bold">-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>

            </tr>
          </tbody>
        </table>
      </div>
      {% comment %}  {% endcomment %}
      <div class="border rounded-3 my-3 p-2">
        <p class="text-start m-0" style="font-family: 'Noto Sans Lao', sans-serif; font-size: 9px;">ປະຫັດສິນເຊື່ອ ໄດ້ສະເເດງໃຫ້ເຫັນລາຍລະອຽດກ່ຽວກັບວົງເງິນກູ້ ເເລະ ເເນວໂນ້ມການຊໍາລະ ຂອງທຸກສິນເຊື່ອ ເເລະ ວົງເງິນກູ້ ສະເເດງໃຫ້ເຫັນຈໍານວນທີ່ມື້ຊໍາລະຊ້າ ເເລະ ການຈັດປະເພດວົງເງິນກູ້ ເເລະ ເເນວໂນ້ມການຊໍາລະໃນໄລຍະເວລາ 12 ເດືອນ ຜ່ານມາ.</p>
      </div> 
    </div>
    {% comment %} Footer {% endcomment %}
    <div class="container align-items-center" style="margin-b-m: 150px;">
      <p class="text-danger text-center fw-bold" style="">*ໝາຍເຫດ: ຂໍ້ມູນນີ້ເເມ່ນນໍາໃຊ້ເຂົ້າໃນວຽກງານພິຈາລະນາສິນເຊື່ອເທົ່ານັ້ນ.</p>
    </div>
    <div class="d-flex justify-content-space-between text-light  container-xxl p-2 rounded-3" style="background-color:#000080; flex-direction:row; padding:0; border-radius: 50px;">
      <div class=" col-6 text-start   " style="flex-direction: column; float: left;">
        <p style="font-size:10px; margin:2px; line-height: 1.5;">ບໍລິສັດຂໍ້ມູນຂ່າວສານສິນເຊື່ອເເຫ່ງ ສປປ ລາວ ຖະໜົນ T4, ບ້ານ ໂພນທັນ</p>
        <p style="font-size:10px; margin:2px; line-height: 1.5;">ເມືອງໄຊເສດຖາ,​ນະຄອນຫຼວງວຽງຈັນ </p>
        <p style="font-size:10px; margin:2px; line-height: 1.5;">Telephone No:(856)21-254292 ,(021) 216259</p>
        <p style="font-size:10px; margin:2px; line-height: 1.5;">Email: LCIC@bol.Gov.la</p>
      </div>
  
      <div class="col-6 d-flex justify-content-space-between align-items-center" style="float:right;padding-left:110px;">
        <div class="d-flex flex-row p-2 bd-highlight align-items-center">
          {% comment %} <div class="p-2 bd-highlight">
            <img src="/static/images/logo1.png" width="80px" height="80px" alt="">
          </div> {% endcomment %}
          <div class="p-2 bd-highlight" style="margin-left:-15px;">
            <p class="text-center fw-bold pb-1" style="font-size:12px; margin:3px; line-height: 1.5px; color: #ffffff;">ບໍລິສັດ ຂໍ້ມູນຂ່ວສານສິນເຊື່ອເເຫ່ງ ສປປ ລາວ</p>
            {% comment %} <hr class"" style="margin:1; line-height:1; border: solid 2px red"> {% endcomment %}
            <div class="" style="margin:3px; line-height:1; border: solid 1px #ffffff"></div>
            <p class="text-center fw-bold pt-1" style="font-size:12px; margin:3px; line-height: 1.5px; color:#ffffff; ">Lao Credit Infomation Company</p>
          </div>
          <div> 
      </div>
      </div>
    </div>
  </div>
</body>
</html>