{% extends "Login/main.html" %}
{% load static %}
{% block title %}LCIC{% endblock %}
{% block content %}
</br>
</br>
</br>
</br>
<h3 class="text-center m-4"><i class="fa-solid fa-magnifying-glass"></i>ຄົ້ນຫາຂໍ້ມູນບຸກຄົນ</h3>
 <h2>Hello is this {{lao_name}}</h2>

 <div class="d-inline-flex">
    <div class="card bg-light ms-4 me-4 mb-4" style="max-width: 20rem;">
        <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Light card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
    </div>
    
</div>
<div style="display:inline-flex">
    <div class="card bg-light ms-4 me-4 mb-4" style="width: 1150px;">
        <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Light card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
    </div>
</div> 

    


 

 


{% endblock %}