{% extends "Login/main.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}LCIC{% endblock %}
{% block content %}
<style>
  .head-id{
    width: 400px;
  }
  th{
    font-weight: bold;
    color: #888888
  }
  td {
    font-weight: bold;
  }
  .table thead th{
    padding-left: 1 !important;
  }
  .table tbody td {
    padding-left: 0 !important;
    vertical-align: middle;
}

  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

  .progress-container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
  
      margin-top: 30px; /* Adjust the margin as needed */
  }

  .progress-container::before {
      content: "";
      position: absolute;
      height: 2px;
      width: calc(100% - 17rem);
      top: 25%;
      left: 8rem;
      background-color: #d5d5d5;
      z-index: 0;
  }

  .progress {
      position: absolute;
      left: 0;
      height: 3px;
      top: 33%;
      width: 0;
      transform: translateY(-50%);
      background-color: var(--secondary);
      transition: width 0.2s;
      z-index: 1;
  }

  .progress-step {
      display: flex;
      flex: 1;
      align-items: center;
      flex-direction: column;
      font-weight: 500;
      color: var(--black);
      z-index: 2;
      position: relative;
  }

  .progress-step .fa-solid {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--grey);
      height: 25px;
      width: 25px;
      font-size: 1.3rem;
      border-radius: 50%;
      background-color: var(--white);
      margin-bottom: 5px;
      transition: border 0.2s, color 0.2s;
      z-index: 2;
  }

  .progress-step .fa-solid::after {
      content: "";
      position: absolute;
      top: -5px;
      left: -5px;
      right: -5px;
      bottom: -5px;
      border: 5px solid #f8f9fa; /* Adjust the stroke color */
      border-radius: 50%;
      z-index: -1;
  }

  .btn-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;
  }

  .btn-container .btn {
      padding: 0.5rem 1.5rem;
      margin: 0 1rem;
      border-radius: 35px;
      cursor: pointer;
      color: var(--white);
      font-weight: 500;
      background-color: var(--secondary);
  }

  .progress-step .fa-solid.active {
      border: 3px solid var(--secondary);
      color: var(--secondary);
  }

</style>
</br>
</br>
</br>
</br>
<div class="container-fluid p-5">
  <div class="p-5 bg-light shadow p-3 mb-5 bg-body rounded">
    <form method="post" action="{% url 'lcicHome:searchListConfirm' object_id=listfee.EnterpriseID %}">
      {% csrf_token %}
      <h5 class="text-center m-4 fontlao fw-bold mb-2">ຄົ້ນຫາຂໍ້ມູນນິຕິບຸກຄົນ</h5>

      {% comment %} Progress Bar {% endcomment %}

      <div class="">
        <div class="progress-container mt-2">
            {% comment %} <div class="progress" id="progress"></div> {% endcomment %}
            <div class="progress-step" style="font-size:10px;">
                <i class="fa-solid fa-magnifying-glass" style="background-color:#000DD1; font-size:14px; color:white;"></i>
                Search
            </div>
            <div class="progress-step" style="font-size:10px;">
                <i class="fa-solid fa-list" style="background-color:#000DD1; font-size:14px; color:white;"></i>
                List
            </div>
            <div class="progress-step" style="font-size:10px;">
                <i class="fa-solid fa-paperclip" style="background-color:#000DD1; font-size:14px; color:white;"></i>
                Select
            </div>
            <div class="progress-step" style="font-size:10px;">
                <i class="fa-solid fa-check" style="background-color:#d5d5d5; font-size:14px;"></i>
                Confirm
            </div>
            <div class="progress-step" style="font-size:10px;">
                <i class="fa-solid fa-file" style="background-color:#d5d5d5; font-size:14px;"></i>
                Report
            </div>
        </div>
              <div class="d-flex row mt-5">
                <div class="col-md-8">
                <h4 class="text-start fw-bold" style="vertical-align: middle;">ລາຍການລູກຄ້າທີ່ໄດ້ຜ່ານການສອບຖາມ:</h4>
                </div>
                <div class="col-md-4 " style="margin-left:0px;">
                  <div class="d-flex inline justify-content-end">
                    <label class="fw-bold text-danger px-2" >ລະຫັດວິສາຫະກິດ:</label>
                    <p class="fw-bold px-2">{{object_id}} </p>
                    <label class="fw-bold text-danger px-2 ">ລະຫັດຂສລ:</label>
                    <p class="fw-bold"> {{listfee.LCICID}}</p> </div>
                </div>
              </div>
              <div class="table-responsive ">
                <table class="table">
                  <thead class="shadow p-3 mb-5 bg-body rounded">
                    <tr class="" style="">
                      <th class="col-0">#</th>
                      <th class="col-2"> ປະເພດຂອງບົດລາຍງານ </th>
                      <th class="col-8"> ລາຍລະອຽດ </th>
                      <th class="text-end col-md-2"> ຄ່າທໍານຽມ </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-start align-center" style="font-size: 10pt; height:70px;">
                      {% comment %} <td class=""><input class="form-check-input" type="checkbox" name="ent_info"></td> {% endcomment %}
                      <td>1</td>
                      <td>{{fee_info.nameL}}</td>
                      <td>ສະເເດງຫຼັກຖານ, ສັງລວມຂໍ້ມູນກ່ຽວກັບວົງເງິນກູ້, ລາຍລະອຽດກ່ຽວກັບວົງເງິນກູ້, ປະຫວັດການສອບຖາມໃນໄລຍະຜ່ານມາ</td>
                      <td class="text-end text-danger fw-bold">{{fee_info.price}} ກີບ</td>
                      </tr>
                  </tbody>
                </table>
              </div>
              <div class="container d-flex justify-content-center p-2">
                <input onclick="goBack()" value="ກັບຄືນ" class="btn btn-secondary mx-2">
                <input  onclick="showConfirmation()" value="ຕໍ່ໄປ" class="btn" style="background-color: #020FBB; color:white;">
                {% comment %} <button class="btn btn-primary w-15 mx-2" onclick="window.location.href='/searchListConfirm';">Next pages</button> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
          </form>
  
  </div>
</div>


  
</div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>  
    function showConfirmation(){
      Swal.fire({
        
        title: "ທ່ານຕ້ອງການສະເເດບົດລາຍງານນີ້ ຫຼື ບໍ່?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "ຕ້ອງການ",
        cancelButtonText: "ຍົກເລີກ",
        html: '<div class="d-flex row shadow-sm p-3 mb-5 bg-body rounded justify-content-center align-items-center"><h5 class="text-start bg-light px-3">ບົດລາຍລະອຽດບົດລາຍງານ</h5><div class="col-md-4"><p class="text-start">ຊື່ພາສາລາວ</p><p class="text-start" >ຊື່ອັງກິດ</p><p class="text-start" >ປະເພດບົດລາຍງານ</p></div><div class="col-md-8"><p class="text-start" style="font-size:10pt;">{{listfee.enterpriseNameLao}}</p><p class="text-start style="font-size:10pt;">{{listfee.eneterpriseNameEnglish}}</p><p class="text-start style="font-size:10pt;">{{fee_info.nameL}}</p></div>',
      }).then((result) => {
        if (result.isConfirmed) {
            document.forms[0].submit();
        }
      });
    }

    function goBack() {
      window.history.back();
    }
  </script>

{% endblock %}