{% extends "Login/main.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}LCIC{% endblock %}
{% block content %}
</br>
</br>
</br>
</br>
<h3 class="text-center m-4"><i class="fa-solid fa-magnifying-glass"></i>ຄົ້ນຫາຂໍ້ມູນບຸກຄົນ</h3>
<div class = "container mt-3" style="width: 35%; font-size:16px">
    <form action="{% url 'lcicHome:searchConfirm' %}" method="POST" class="card p-4 mt-5" autocomplete="off" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                {{ form.ind_lao_name|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.ind_lao_surname|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ form.ind_name|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.ind_surname|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                {{form.customerid|as_crispy_field}}
            </div>
        </div>
            <div class="col-6">
                <button type="submit" class="btn btn-primary mt-3" style="width:90px">ຄົ້ນຫາ</button>
                <a href="{% url 'lcicHome:search' %}" class="btn btn-secondary mt-3" style="width:90px">ຍົກເລີກ</a>
            </div>
            {% comment %} <div class="col-6">
                <a href="{% url 'lcicHome:manage_user' %}" class="btn btn-secondary" style="width:90px">ຍົກເລີກ</a>
            </div> {% endcomment %}

        
        
    </form>

       
    <!-- Message from backend-->
    {% for message in messages %}
        {% if message.tags == 'success'  %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">{{message}}
                <a href="{% url 'lcicHome:searchIndividual' %}" type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="close"></a>
            </div>

        {% elif message.tags == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">{{message}}
                <a href="{% url 'lcicHome:searchIndividual' %}" type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="close"></a>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% comment %} <h2 class="text-center m-4">ເພີ່ມຂໍ້ມູນຜູ້ໃຊ້</h2> 
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="card bg-light mb-3">
                        <div class="card-header">
                            <i class="fa-solid fa-address-card fa-lg"> ຂໍ້ມູນຜູ້ໃຊ້</i>
                        </div>
                        <div class="card-body">
                            <form action="{% url 'lcicHome:addUser' %}" method="POST" autocomplete="off">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-primary">ບັນທຶກ</button>
                                <a href="{% url 'lcicHome:manage_user' %}" class="btn btn-secondary">ຍົກເລີກ</a>
                                {% if success %}
                                <div class="alert alert-success mt-4" role="alert" style="display:block">
                                    ສຳເລັດການເພີ່ມຂໍ້ມູນ
                                    <a href="{% url 'lcicHome:manage_user' %}" class="alert-link">ກັບຄືນ.</a>
                                </div>
                                {% endif %}
                            </form>
                        </div>
                      </div>
                </div>
            </div> {% endcomment %}

{% endblock %}