{% extends "Login/main.html" %}
{% load static %}
{% block title %}Upload Files{%endblock%}
{% block content %}
<style>
  th{
    font-size: 10px;
  }
</style>
</br>
</br>

<div class="container-xl" style="background-color: rgba(255, 0, 0, 0.5);">
  <div class="container-xl ">
    <div class="container-xl d-flex justify-content-space-between mb-5" style="margin: 0;">
      {% comment %} Company Name {% endcomment %}
      <div class="d-flex flex-row p-2 bd-highlight align-items-center" style="float: left;">
        <div class="p-2 bd-highlight">
          <img src="/static/images/lcic_logo.png" width="80" height="80" alt="">
        </div>
        <div class="p-2 bd-highlight" style="color: rgb(255, 0, 0);">
          <p class="text-center fw-bold" style="font-size:16px; margin:1; line-height: 1.5; color: #000080;">ບໍລິສັດ ຂໍ້ມູນຂ່ວສານສິນເຊື່ອເເຫ່ງ ສປປ ລາວ</p>
          {% comment %} <hr class"" style="margin:1; line-height:1; border: solid 2px red"> {% endcomment %}
          <div class="" style="margin:1; line-height:1; border: solid 2px #000080"></div>
          <p class="text-center fw-bold" style="font-size:16px; margin:1; line-height: 1.5; color:#000080; ">Lao Credit Infomation Company</p>
        </div>
  <div> 
</div>
        {% comment %} detail {% endcomment %}

      </div>
      <div class="d-flex flex-column justify-content-center text-start text-primary ms-auto">
        <p style="font-size:10px; margin:1; line-height: 1;">Lao Credit Information Company</p>
          <p style="font-size:10px; margin:1; line-height: 1;">2nd Floor, Lao Security Exchange Building </p>
          <p style="font-size:10px; margin:1; line-height: 1;">Phonthan Village, Xaysettha District Vientiane Capital</p> 
          <p style="font-size:10px; margin:1; line-height: 1;">Telephone No:(856)21-254292 ,(021) 216259</p>
          <p style="font-size:10px; margin:1; line-height: 1;">Email: LCIC@bol.Gov.la</p>
      </div>
    </div>
    
    {% comment %}  {% endcomment %} 
    <div class="text-center text-light rounded-2 p-1" style="background-color:#000080;">
      <p class="m-0" style="font-family:Time News Romance;">ບົດລາຍງານສິນເຊື່ອຄົບຖ້ວນ (ສໍາລັບນິຕິບຸກຄົນ)</p>
    </div>
    <div class="d-flex justify-content-space-between p-2 row">
      <div class="col-md-3">
        {% comment %} query {% endcomment %}
        <table class="fw-bold" >
          <tbody style="font-size:14px;">
            <tr>
              <td>ອ້າງອີງການສອບຖາມ:  </td>
            </tr>
            <tr>
              <td>ຂໍ້ມູນສະໜອງໃຫ້ </td>
            </tr>
            <tr>
              <td>ລະຫັດວິສາຫະກິດ: </td>
            </tr>
            <tr>
              <td>ລະຫັດບໍລິສັດຂສລ: </td>
            </tr>
            <tr>
              <td>ປະເພດຂອງຂໍ້ມູນ: </td>
            </tr>
            <tr>
              <td>ປະເພດຂອງຜະລິດຕະພັນ: </td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="col-md-3">
        <table class="" >
          <tbody style="font-size:14px;">
            <tr>
              <td>-</td>
            </tr>
            <tr>
              <td>-</td>
            </tr>
            <tr>
              <td>{{report_data.EnterpriseID}}</td>
            </tr>
            <tr>
              <td>{{report_data.LCICID}}</td>
            </tr>
            <tr>
              <td> - </td>
            </tr>
            <tr>
              <td>{{report_detail.nameL}}</td>
            </tr>


          </tbody>
        </table>
      </div>
      <div class="col-md-3">
        <table class="fw-bold">
          <tbody style="font-size: 14px;">
            <tr>
              <td>ຂໍ້ມຸນທີ່ຜ່ານມາ:  </td>
            </tr>
            <tr>
              <td> ຂໍ້ມຸນທີ່ຄົ້ນພົບ:  </td>
            </tr>
            <tr>
              <td>ຊື່ບໍລິສັດ(ພາສາລາວ): </td>
            </tr>
            <tr>
              <td> ຊື່ບໍລິສັດ(ພາສາອັງກິດ): </td>
            </tr>
            <tr>
              <td> ຊື່ທໍາອິດຂອງຜູ້ຖືຮູ້ນລາຍໃຫຍ່(ພາສາລາວ):​</td>
            </tr>
            <tr>
              <td> ຊື່ທໍາອິດຂອງຜູ້ຖືຮູ້ນລາຍໃຫຍ່(ພາສາອັງກິດ): </td>
            </tr>
            <tr>
              <td> ຜູ້ຈັດການທົ່ວໄປ(ພາສາລາວ): </td>
            </tr>
            <tr>
              <td> ຜູ້ຈັດການທົ່ວໄປ(ພາສາອັງກິດ): </td>
            </tr>
            <tr>
              <td> ລະຫັດວິສາຫະກິດ: </td>
            </tr>
            <tr>
              <td> ປະເພດທຸລະກິດ: </td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="col-md-3">
        <table class=" ">
          <tbody style="font-size: 14px;">
            <tr>
              <td>{{forloop.counter}} -</td>
            </tr>
            <tr>
              <td>-</td>
            </tr>
            <tr>
              <td>{{report_data.eneterpriseNameEnglish}}</td>
            </tr>
            <tr>
              <td>{{report_data.enterpriseNameLao}}​</td>
            </tr>
            <tr>
              <td>{{report_invs.investorName}}</td>
            </tr>
            <tr>
              <td>{{report_invs.investorName}}</td>
            </tr>
            <tr>
              <td> - </td>
            </tr>
            <tr>
              <td> - </td>
            </tr>
            <tr>
              <td>{{report_data.LCICID}}</td>
            </tr>
            <tr>
              <td>- </td>
            </tr>

          </tbody>
        </table>
      </div>
      </div>
    {% comment %}  {% endcomment %}
    <div class="text-start text-light rounded-2 p-1 fs-6" style="background-color:#000080; font-size:10px;">
      <p class="m-0 ps-2" style="font-family:Time News Romance;">ລາຍລະອຽດຂອງຂໍ້ມູນທີ່ຜ່ານມາ</p> 
    </div>
    {% comment %}  {% endcomment %}
    <div class="">
      <table class="table text-start border border-dange mt-2" style="margin:1; line-height: 1;">
        <thead class="bg-light">
          <tr >
            <th scope="col" class="fw-bold" style="font-family:Time News Romance; font-size: 10px;">ຊື່ທະນາຄານ</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance; font-size: 10px;">ຊື່ບໍລິສັດ(ພາສາອັງກິດ)</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance; font-size: 10px;">ຊື່ບໍລິສັດ(ພາສາລາວ)</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance; font-size: 10px;">ປະເພດຂອງຂໍ້ມູນ</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance; font-size: 10px;">ປະເພດຂອງຜະລິດຕະພັນ</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance; font-size: 10px;">ວັນທີເດຶອນປີ</th>
          </tr>
        </thead>
        <tbody>
          <tr style="font-size:12px">
            <td class="">-</td>
            <td></td>
            <td class="fw-bold">-</td>
            <td>-</td>
            <td>{{report_detail.nameL}}</td>
            <td class="fw-bold">-</td>
          </tr>
  
        </tbody>
      </table>
    </div>
    {% comment %}  {% endcomment %}
    <div class="text-start text-light rounded-2 p-1 mt-2" style="background-color:#000080;">
      <p class="m-0 ps-2" style="font-family:Time News Romance;">ລວມວົງເງິນກູ້ທີ່ເຄື່ອນໄຫວທັງໝົດ (ອີງຕາມສັນຍາກູ້ຢືມ)</p> 
    </div>
    {% comment %}  {% endcomment %}
    <div>
      <table class="table text-start mt-2 " style="margin:1; line-height: 1;">
        <thead class="bg-light">
          <tr >
            <th scope="col" class="fw-bold" style="font-family:Time News Romance; font-size: 10px;">ສະມາຊິກ</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance; font-size: 10px;">ລະຫັດຂອງເງິນກູ້</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance; font-size: 10px;">ວັນທີເຊັນສັນຍາ</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance; font-size: 10px;">ວົງເງິນອະນູມັດກູ້</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance; font-size: 10px;">ຍອດເຫຼືອໜີ້</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance; font-size: 10px;">ສະກຸນເງິນ</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance; font-size: 10px;">ຈໍານວນວັນທີ່ຊໍາລະຊ້າ</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance; font-size: 10px;">ປະຫວັດການຈັດຊັ້ນໜີ້ 12 ເດືອນນັບຈາກເດືອນປະຈຸບັນ</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance; font-size: 10px;">ວັນທີລ້າສຸດ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="">-</td>
            <td>-</td>
            <td class="fw-bold">-</td>
            <td>-</td>
            <td>-</td>
            <td class="fw-bold">-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>

          </tr>
  
        </tbody>
      </table>
    </div>
    {% comment %}  {% endcomment %}
    <div class="text-start text-light rounded-2 p-1 mt-2" style="background-color:#000080;">
      <p class="m-0 ps-2" style="font-family:Time News Romance;">ລາຍລະອຽດກ່ຽວກັບວົງເງິນກູ້</p> 
    </div>
    {% comment %}  {% endcomment %}
    <div>
      <table class="table mt-2" style="margin:1; line-height: 1;">
        <thead class="bg-light">
          <tr class="text-center" >
            <th scope="col" class="fw-bold" style="font-family:Time News Romance;font-size: 10px;">ສະມາຊິກ</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance;font-size: 10px;">ລະຫັດຂອງເງິນກູ້</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance;font-size: 10px;">ວັນທີເຊັນສັນຍາ</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance;font-size: 10px;">ວັນໝົດອາຍຸສັນຍາ</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance;font-size: 10px;">ວົງເງິນອະນູມັດກູ້</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance;font-size: 10px;">ຍອດເຫຼືອໜີ້</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance;font-size: 10px;">ສະກຸນເງິນ</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance;font-size: 10px;">ອັດຕາດອກເບ້ຍ</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance;font-size: 10px;">ເປົ້າໝາຍເງິນກູ້ / ປະເພດບັດສິນເຊື່ອ</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance;font-size: 10px;">ຈໍານວນວັນທີ່ຊໍາລະຊ້າ</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance;font-size: 10px;">ການຈັດຊັ້ນໜີ້</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance;font-size: 10px;">ປະເພດເງິນກູ້</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance;font-size: 10px;">ໄລຍະເວລາໃນການກູ້ຢືມ</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance;font-size: 10px;">ສະຖານະພາບ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="fw-bold">-</th>
            <td>-</td>
            <td class="fw-bold">-</td>
            <td>-</td>
            <td>-</td>
            <td class="fw-bold">-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
  
        </tbody>
      </table>
    </div>
    {% comment %}  {% endcomment %}
    <div class="text-start text-light rounded-3 p-1 mt-2" style="background-color:#000080;">
      <p class="m-0 ps-2" style="font-family:Time News Romance;">ລາຍລະອຽດກ່ຽວກັບວົງເງິນກູ້ຂອງຜູ້ກູ້ຮ່ວມ / ບັດເສີມ</p> 
    </div>
    {% comment %}  {% endcomment %}
    <div >
      <table class="table mt-2" style="margin:1; line-height: 1; font-family:Time news Romance; mt-2">
        <thead class="bg-light">
          <tr class="text-center" >
            <th scope="col" class="fw-bold" style="font-family:Time News Romance;font-size: 10px;">ສະມາຊິກ</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance;font-size: 10px;">ລະຫັດຂອງເງິນກູ້</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance;font-size: 10px;">ວັນທີເຊັນສັນຍາ</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance;font-size: 10px;">ວັນໝົດອາຍຸສັນຍາ</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance;font-size: 10px;">ວົງເງິນອະນູມັດກູ້</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance;font-size: 10px;">ຍອດເຫຼືອໜີ້</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance;font-size: 10px;">ສະກຸນເງິນ</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance;font-size: 10px;">ອັດຕາດອກເບ້ຍ</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance;font-size: 10px;">ເປົ້າໝາຍເງິນກູ້/ປະເພດບັດສິນເຊື່ອ</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance;font-size: 10px;">ຈໍານວນວັນທີ່ຊໍາລະຊ້າ</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance;font-size: 10px;">ການຈັດຊັ້ນໜີ້</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance;font-size: 10px;">ປະເພດເງິນກູ້</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance;font-size: 10px;">ໄລຍະເວລາໃນການກູ້ຢືມ</th>
            <th scope="col" class="fw-bold" style="font-family:Time News Romance;font-size: 10px;">ສະຖານະພາບ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="fw-bold">1</th>
            <td>-</td>
            <td class="fw-bold">-</td>
            <td>-</td>
            <td>-</td>
            <td class="fw-bold">-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
    {% comment %}  {% endcomment %}
    <div class="border rounded-3 my-3 p-2">
      <p class="text-start m-0" style="font-family:Time News Romance; font-size: 11px;">ປະຫັດສິນເຊື່ອ ໄດ້ສະເເດງໃຫ້ເຫັນລາຍລະອຽດກ່ຽວກັບວົງເງິນກູ້ ເເລະ ເເນວໂນ້ມການຊໍາລະ ຂອງທຸກສິນເຊື່ອ ເເລະ ວົງເງິນກູ້ ສະເເດງໃຫ້ເຫັນຈໍານວນທີ່ມື້ຊໍາລະຊ້າ ເເລະ ການຈັດປະເພດວົງເງິນກູ້ ເເລະ ເເນວໂນ້ມການຊໍາລະໃນໄລຍະເວລາ 12 ເດືອນ ຜ່ານມາ.</p>
    </div> 
  </div>
  {% comment %} Footer {% endcomment %}
  <div class="container align-items-center" style="margin-b-m: 150px;"> 
    <p class="text-danger text-center fw-bold" style="font-family:">*ໝາຍເຫດ: ຂໍ້ມູນນີ້ເເມ່ນນໍາໃຊ້ເຂົ້າໃນວຽກງານພິຈາລະນາສິນເຊື່ອເທົ່ານັ້ນ.</p>
  </div>
  <div class="d-flex justify-content-space-between text-light rounded-4 container-xxl " style="background-color:#000080; flex-direction:row; padding:0;">
    <div class=" col-md-7 d-flex justify-content-center align-items-start" style="flex-direction: column; float: left;">
      <p style="font-size:12px; margin:1; line-height: 1.5;">ບໍລິສັດຂໍ້ມູນຂ່າວສານສິນເຊື່ອເເຫ່ງ ສປປ ລາວ ຖະໜົນ T4, ບ້ານ ໂພນທັນ</p>
      <p style="font-size:12px; margin:1; line-height: 1.5;">ເມືອງໄຊເສດຖາ,​ນະຄອນຫຼວງວຽງຈັນ </p>
      <p style="font-size:12px; margin:1; line-height: 1.5;">Telephone No:(856)21-254292 ,(021) 216259</p>
      <p style="font-size:12px; margin:1; line-height: 1.5;">Email: LCIC@bol.Gov.la</p>
    </div>

    <div class="col-md-5 d-flex justify-content-end align-items-center" style="float:right;padding-left:110px;">
      <div class="d-flex flex-row p-2 bd-highlight align-items-center">
        <div class="p-2 bd-highlight">
          <img src="/static/images/logo1.png" width="80" height="80" alt="">
        </div>
        <div class="p-2 bd-highlight">
          <p class="text-center fw-bold" style="font-size:16px; margin:1; line-height: 1.5; color: #ffffff;">ບໍລິສັດ ຂໍ້ມູນຂ່ວສານສິນເຊື່ອເເຫ່ງ ສປປ ລາວ</p>
          {% comment %} <hr class"" style="margin:1; line-height:1; border: solid 2px red"> {% endcomment %}
          <div class="" style="margin:1; line-height:1; border: solid 2px #ffffff"></div>
          <p class="text-center fw-bold" style="font-size:16px; margin:1; line-height: 1.5; color:#ffffff; ">Lao Credit Infomation Company</p>
        </div>
<div> 
</div>
    </div>
  </div>
</div>


{%endblock%}