{% extends "Login/main.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}LCIC{% endblock %}
{% block content %}
<style>
  .head-id{
    width: 400px;
  }
  th{
    font-weight: bold;
    color: #888888
  }
  td {
    font-weight: bold;
  }
  .table thead th{
    padding-left: 1 !important;
  }
  .table tbody td {
    padding-left: 0 !important;
    vertical-align: middle;
}

  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

  .progress-container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
  
      margin-top: 30px; /* Adjust the margin as needed */
  }

  .progress-container::before {
      content: "";
      position: absolute;
      height: 2px;
      width: calc(100% - 17rem);
      top: 25%;
      left: 8rem;
      background-color: #d5d5d5;
      z-index: 0;
  }

  .progress {
      position: absolute;
      left: 0;
      height: 3px;
      top: 33%;
      width: 0;
      transform: translateY(-50%);
      background-color: var(--secondary);
      transition: width 0.2s;
      z-index: 1;
  }

  .progress-step {
      display: flex;
      flex: 1;
      align-items: center;
      flex-direction: column;
      font-weight: 500;
      color: var(--black);
      z-index: 2;
      position: relative;
  }

  .progress-step .fa-solid {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--grey);
      height: 25px;
      width: 25px;
      font-size: 1.3rem;
      border-radius: 50%;
      background-color: var(--white);
      margin-bottom: 5px;
      transition: border 0.2s, color 0.2s;
      z-index: 2;
  }

  .progress-step .fa-solid::after {
      content: "";
      position: absolute;
      top: -5px;
      left: -5px;
      right: -5px;
      bottom: -5px;
      border: 5px solid #f8f9fa; /* Adjust the stroke color */
      border-radius: 50%;
      z-index: -1;
  }

  .btn-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;
  }

  .btn-container .btn {
      padding: 0.5rem 1.5rem;
      margin: 0 1rem;
      border-radius: 35px;
      cursor: pointer;
      color: var(--white);
      font-weight: 500;
      background-color: var(--secondary);
  }

  .progress-step .fa-solid.active {
      border: 3px solid var(--secondary);
      color: var(--secondary);
  }

</style>
</br>
</br>
</br>
</br>
<div class="container-fluid p-5 ">
  <div class="p-5 shadow p-3 mb-5 bg-body rounded">
    <form method="post" action="{% url 'lcicHome:searchListfee' object_id=object.EnterpriseID %}">
      {% csrf_token %}
      <h5 class="text-center m-4 fontlao fw-bold mb-2">ຄົ້ນຫາຂໍ້ມູນນິຕິບຸກຄົນ</h5>

      {% comment %} Progress Bar {% endcomment %}

      <div class="">
        <div class="progress-container mt-2">
            {% comment %} <div class="progress" id="progress"></div> {% endcomment %}
            <div class="progress-step" style="font-size:10px;">
                <i class="fa-solid fa-magnifying-glass" style="background-color:#000DD1; font-size:14px; color:white;"></i>
                Search
            </div>
            <div class="progress-step" style="font-size:10px;">
                <i class="fa-solid fa-list" style="background-color:#000DD1; font-size:14px; color:white;"></i>
                List
            </div>
            <div class="progress-step" style="font-size:10px;">
                <i class="fa-solid fa-paperclip" style="background-color:#d5d5d5; font-size:14px;"></i>
                Select
            </div>
            <div class="progress-step" style="font-size:10px;">
                <i class="fa-solid fa-check" style="background-color:#d5d5d5; font-size:14px;"></i>
                Confirm
            </div>
            <div class="progress-step" style="font-size:10px;">
                <i class="fa-solid fa-file" style="background-color:#d5d5d5; font-size:14px;"></i>
                Report
            </div>
        </div>

            {% comment %} <div class="container border border-danger head-id">
              <div class="d-flex justify-content-between align-items-center">
                <label class="fw-bold text-danger" >Enterpise_ID:{{object.EnterpriseID}} </label>
                <label class="fw-bold text-danger">LCIC_ID: {{object.LCICID}} </label>
              </div>
            </div> {% endcomment %}
            <div class=" container-fluid p-2 pt-5 ">
              <div class="d-flex row">
                <div class="col-md-8">
                <h4 class="text-start" style="vertical-align: middle;">ລາຍການລູກຄ້າທີ່ໄດ້ຜ່ານການສອບຖາມ:</h4>
                </div>
                <div class="col-md-4 " style="margin-left:0px;">
                  <div class="d-flex inline justify-content-end">
                    <label class="fw-bold text-danger px-2" >ລະຫັດວິສາຫະກິດ:</label>
                    <p class="fw-bold px-2">{{object.EnterpriseID}} </p>
                    <label class="fw-bold text-danger px-2 ">ລະຫັດຂສລ:</label>
                    <p class="fw-bold">{{object.LCICID}}</p> </div>
                </div>
              </div>
              <div class="table-responsive ">
                <table class="table">
                  <thead class="shadow p-3 mb-5 bg-body rounded">
                    <tr>
                      <th>#</th>
                      <th> ຊື່ບໍລິສັດ(ພາສາລາວ) </th>
                      <th> ຊື່ບໍລິສັດ(ພາສາອັງກິດ) </th>
                      <th> ລະຫັດວິສາຫະກິດ </th>
                      <th> ທີ່ຢູ່ເປັນ(ພາສາອັງກິດ) </th>
                      <th> ທີ່ຢູ່ເປັນ(ພາສາລາວ) </th>
                      <th> ທີ່ທໍາອິດຂອງຜູ້ຖືຮຸ້ນລາຍໃຫຍ່/ເຈົ້າຂອງບໍລິສັດ </th>
                      <th> ຜູ້ຈັດການທົ່ວໄປ </th>
                      <th> ໝາຍເລກໂທລະສັບ </th>
                      <th> ລາຍລະອຽດ </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-start align-center" style="font-size: 9pt">
                      {% comment %} <td class=""><input class="form-check-input" type="checkbox" name="ent_info"></td> {% endcomment %}
                      <td>#</td>
                      <td>{{object.enterpriseNameLao}}</td>
                      <td>{{object.eneterpriseNameEnglish}}</td>
                      <td>{{object.EnterpriseID}}</td>
                      <td>{{invs_name.investorName}}</td>
                      <td>{{invs_name.investorName}}</td>
                      <td><td>      
                      <td>{{invs_name.investorMobile}}</td>
                      <td><input class="btn btn-warning" type="submit" name="btn_detail" value="ເລືອກ"> </td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
          </form>
  
  </div>
</div>
{% endblock %}