{% extends "layouts/base.html" %}
{% load static %}
{% block title %}Document Form{%endblock%}

{% block content %}

<div id="important" class="important">
    <div class="container">
       
      <div class="row">
        <div class="col-md-12">
          <div class="titlepage">
            <h3><strong class="blue">{% if Lang == "la" %}
                {% if Lang == "la" %}
                {% for f in H_form %}
                {{f.Trans_LA}}
              {% endfor %}
              {% elif Lang == "en" %}
              {% for f in H_form %}
                {{f.Trans_EN}}
              {% endfor %}
              {% endif %}
              {% endif %}

              {% if Lang == "en" %}
                {% if Lang == "la" %}
                {% for f in H_form %}
                {{f.Trans_LA}}
              {% endfor %}
              {% elif Lang == "en" %}
              {% for f in H_form %}
                {{f.Trans_EN}}
              {% endfor %}
              {% endif %}
              {% endif %}</strong></h3>
                <div class="container" style="margin-bottom:-100px">
                    <!-- center><figure><img src="{% static 'images/CEO.jpg '%}"></figure></center --> 
                   <hr> 
                   {% if Lang == "la" %}
                   <p>
                      {%for d in documentInfo_v %}                  
                      <a href="{{ d.dFiles.url }}"  target="_blank" > + {{d.nameL}} </a><hr>
                      {%endfor%}
                </p>
                {% endif %}

                {% if Lang == "en" %}
                <p>
                   {%for d in documentInfo_v %}                  
                   <a href="{{ d.dFiles.url }}"  target="_blank" > + {{d.nameE}} </a><hr>
                   {%endfor%}
             </p>
             {% endif %}
                </div>
          </div>
        </div>
      </div>
    </div> <!-- end History -->

{%endblock%}