{% extends 'layouts/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}LCIC News{% endblock %}</title>
</head>

{% block content %}
<div id="important" class="important">
    <div class="container">
      <div class="row">
        
            <div class="col-md-3">
                {% if Lang == "la" %}
                <div class="list-group">
                    <a href="{% url 'lcicNews:index'%}?Lang=la" class="list-group-item list-group-item-action {%if not Type_V %}active{% endif %}" aria-current="true">
                        {% for nl in H_nl %}
                        {{nl.Trans_LA}}
                      {% endfor %}</a>
                    {% for t in newsType_v %}    
                    <a href="{% url 'lcicNews:index' %}?newsTypeid={{ t.id }}&Lang=la" class="list-group-item list-group-item-action {%if Type_V|add:'0' == t.id %}active{% endif %} " aria-current="true">{{t.nameL}}</a>
                    {% endfor %}
                </div>
                 {% elif Lang == "en" %}
                 <div class="list-group">
                    <a href="{% url 'lcicNews:index'%}?Lang=en" class="list-group-item list-group-item-action {%if not Type_V %}active{% endif %}" aria-current="true">
                        {% for nl in H_nl %}
                        {{nl.Trans_EN}}
                      {% endfor %}</a>
                    {% for t in newsType_v %}    
                    <a href="{% url 'lcicNews:index' %}?newsTypeid={{ t.id }}&Lang=en" class="list-group-item list-group-item-action {%if Type_V|add:'0' == t.id %}active{% endif %} " aria-current="true">{{t.nameE}}</a>
                    {% endfor %}
                </div>

                {% endif %}    
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card border-0"> 
                            {% if Lang == "la" %}
                            <div class="row">
                                {% for n in newsInfo_v %}
                                    <div class="col-md-1">                                    
                                        <a href="#"><img src="{{ n.nimage.url }}" class="card-img-top"max-width="100px"></a>
                                    </div>
                                    <div class="col-md-11">
                                        {% if n.nFiles %}
                                        <h6><a href="{{ n.nFiles.url }}">news: {{n.nameL}}</a></h6>     
                                        {% endif %}
                                       <!--<a href="{% url 'lcicNews:detail'%}?slug={{ n.id }}" class="btn btn-info mt-1">ເພີ່ມເຕີມ</a> --> 
                                    </div>
                                {% endfor %}
                            </div>

                            {% elif Lang == "en" %}
                            <div class="row">
                                {% for n in newsInfo_v %}
                                    <div class="col-md-1">                                    
                                        <a href="#"><img src="{{ n.nimage.url }}" class="card-img-top"max-width="100px"></a>
                                    </div>
                                    <div class="col-md-11">
                                        {% if n.nFiles %}
                                        <h6><a href="{{ n.nFiles.url }}">news: {{n.nameE}}</a></h6>     
                                        {% endif %}
                                       <!--<a href="{% url 'lcicNews:detail'%}?slug={{ n.id }}" class="btn btn-info mt-1">ເພີ່ມເຕີມ</a> --> 
                                    </div>
                                {% endfor %}
                            </div>

                            {% endif %}
                        </div>
                    </div>
                </div>
                <hr>
                 <!--<div class="box_text">
                         <a href="{% url 'news:index' %}" class="btn" href="Javascript:void(0)">ອ່ານເພີ່ມເຕີມ</a> 
                    </div> -->
                    {% if Lang == "la" %}
                <ul class="pagination" >                   
                {% if newsInfo_v.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=newsInfo_v.previous_page_number&Lang=la">Previous</a></li>
                {% endif %}
                {% for i in newsInfo_v.paginator.page_range %}
                    <li class="page-item {% if newsInfo_v == i %}active{%endif%}"><a class="page-link" href="?page={{ i }}&Lang=la">{{i}}</a></li>
                {% endfor %}
                {% if newsInfo_v.has_next %}
                    <li class="page-item"><a class="page-link" href="?page=newsInfo_v.next_page_number&Lang=la">Next</a></li>
                {% endif %}
                </ul><!-- end Previour Page and Next Page-->

                {% elif Lang == "en" %}
                <ul class="pagination" >                   
                {% if newsInfo_v.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=newsInfo_v.previous_page_number&Lang=en">Previous</a></li>
                {% endif %}
                {% for i in newsInfo_v.paginator.page_range %}
                    <li class="page-item {% if newsInfo_v == i %}active{%endif%}"><a class="page-link" href="?page={{ i }}&Lang=en">{{i}}</a></li>
                {% endfor %}
                {% if newsInfo_v.has_next %}
                    <li class="page-item"><a class="page-link" href="?page=newsInfo_v.next_page_number&Lang=en">Next</a></li>
                {% endif %}
                </ul><!-- end Previour Page and Next Page-->
                {% endif %}
            </div>
            
        
    </div>
</div> <!-- end History -->
{% endblock %}

</html>

