{% extends "layouts/base.html" %}
{% block title %}Products{%endblock%}

{% block content %}
<div id=important class="important">
  <div class="container-sm">
    <div class="row">
      <div class="col-sm-3">
        {% if Lang == "la" %}
        <div class="list-group">
          <!-- a href="{% url 'lcicNews:products'%}" class="list-group-item list-group-item-action {% if not pType_v %}active{%endif%} " aria-current="true">ຜະລິດຕະພັນ&ການບໍລິການທັງໝົດ</a--> 
          {% for t in proType_v %}
          <a href="{% url 'lcicNews:products' %}?proTypeid={{ t.id }}&Lang=la" class="list-group-item list-group-item-action {%if pType_v|add:'0' == t.id %}active{%endif%}  " aria-current="true">{{t.nameL}}</a>
          {%endfor%}
      </div>

      {% elif Lang == "en" %}
        <div class="list-group">
          <!-- a href="{% url 'lcicNews:products'%}" class="list-group-item list-group-item-action {% if not pType_v %}active{%endif%} " aria-current="true">ຜະລິດຕະພັນ&ການບໍລິການທັງໝົດ</a--> 
          {% for t in proType_v %}
          <a href="{% url 'lcicNews:products' %}?proTypeid={{ t.id }}&Lang=en" class="list-group-item list-group-item-action {%if pType_v|add:'0' == t.id %}active{%endif%}  " aria-current="true">{{t.nameE}}</a>
          {%endfor%}
      </div>
      {% endif %}
      </div> <!-- end menu type of Product( proType )-->
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-12">
            {% if Lang == "la" %}
            <div class="card border-0">
              {%for p in productInfo_v %}
                <div class="row">
                  <div class="col-sm-3">                    
                    {% if p.pimage %} 
                    <a href="{{ p.pFiles.url }}"><img src="{{ p.pimage.url }}" alt="" class="card-img-top mt-2"max-width="50px"></a>
                    {%endif%} 
                  </div>
                  <div class="col-sm-9">   
                    {% if p.pFiles %}                 
                    <a href="{{ p.pFiles.url }}"><h3><strong class="blue">{{p.nameL}} </strong></h3></a>
                    {% endif %}
                    <span class="text-align:left!important">{{ p.descL }}</span>                        
                  </div>
                </div> 
              {%endfor%}             
            </div>

            {% elif Lang == "en" %}
            <div class="card border-0">
              {%for p in productInfo_v %}
                <div class="row">
                  <div class="col-sm-3">                    
                    {% if p.pimage %} 
                    <a href="{{ p.pFiles.url }}"><img src="{{ p.pimage.url }}" alt="" class="card-img-top mt-2"max-width="50px"></a>
                    {%endif%} 
                  </div>
                  <div class="col-sm-9">   
                    {% if p.pFiles %}                 
                    <a href="{{ p.pFiles.url }}"><h3><strong class="blue">{{p.nameE}} </strong></h3></a>
                    {% endif %}
                    <span class="text-align:left!important">{{ p.descE }}</span>                        
                  </div>
                </div> 
              {%endfor%}             
            </div>
            {% endif %}
          </div>
        </div>
      </div><!-- end image box-->
    </div><!-- end Main image box-->
  </div>
</div>

{%endblock%}